Repository supercollider/supercollider, pull requests merged in 2018-05, with the labels that each got.

#3713 SoundFile: fix SynthDef and Helpfile to match
  HelpSource/Classes/SoundFile.schelp
  SCClassLibrary/Common/Files/SoundFile.sc
Labels: comp: class library, comp: help

#3712 SoundFile: add basic UnitTest, and small OSCFunc fix
  SCClassLibrary/Common/Files/SoundFile.sc
  testsuite/classlibrary/TestSoundFile.sc
Labels: bug, comp: class library

#3088 class library: plot relative to target synth
  HelpSource/Classes/Buffer.schelp
  HelpSource/Classes/Function.schelp
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: API change, comp: Qt GUI, comp: class library

#3534 class library: only schedule messages if necessary
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Math/SimpleNumber.sc
  testsuite/classlibrary/TestClockScheduling.sc
Labels: comp: class library

#3603 Permit pattern zero repeats
  SCClassLibrary/Common/Streams/Patterns.sc
  SCClassLibrary/Common/Streams/Ppar.sc
  testsuite/classlibrary/TestPattern.sc
Labels: comp: class library

#3736 Fix event parent type regression
  SCClassLibrary/Common/Collections/Event.sc
  testsuite/classlibrary/TestEvent.sc
Labels: bug, comp: class library

#3705 class library: cosmetics - standardize code
  HelpSource/Guides/Tour-of-Special-Functions.schelp
  SCClassLibrary/Common/Math/SimpleNumber.sc
Labels: comp: class library

#3724 Classlib: Patterns: Pkey embedInStream must provide a default repeats
  SCClassLibrary/Common/Streams/Patterns.sc
Labels: bug, comp: class library

#3726 class library: throw proper error when plotting an array with nil (edited)
  HelpSource/Classes/ArrayedCollection.schelp
  HelpSource/Reference/plot.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library, enhancement

#3752 testsuite: update tests for Duty
  testsuite/classlibrary/TestUGen_Duty.sc
Labels: comp: test suite

#3656 cmake: set minimum version to 3.5
  CMakeLists.txt
  QtCollider/CMakeLists.txt
  README_LINUX.md
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
  server/plugins/CMakeLists.txt
  server/supernova/CMakeLists.txt
Labels: comp: build

#3749 class library: BufWr checks also inputArray for rates
  SCClassLibrary/Common/Audio/BufIO.sc
Labels: comp: class library
