Repository supercollider/supercollider, pull requests merged in 2018-12, with the labels that each got.

#4188 fix bfill handler for supernova
  server/supernova/sc/sc_osc_handler.cpp
Labels: comp: supernova

#4204 fix typo in ProxyMixer help
  HelpSource/Classes/ProxyMixer.schelp
Labels: comp: help

#4138 Classlib: Avoid infinite recursion risk in Pprotect
  SCClassLibrary/Common/Streams/Patterns.sc
  testsuite/classlibrary/TestPprotect.sc
Labels: bug, comp: class library, crash
