Repository supercollider/supercollider, pull requests merged in 2018-07, with the labels that each got.

#3835 supernova: include header to get SC_PLUGIN_EXT
  server/supernova/sc/sc_ugen_factory.cpp
Labels: comp: supernova

#3813 File.mkdir now throws an error
  HelpSource/Classes/File.schelp
  lang/LangPrimSource/PyrFilePrim.cpp
Labels: API change, comp: sclang

#3821 Implement degrad & raddeg for UGen
  HelpSource/Classes/UGen.schelp
  SCClassLibrary/Common/Audio/UGen.sc
Labels: comp: class library, enhancement

#3783 class library: function play fade envelope when necessary
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/SynthDef.schelp
  HelpSource/Reference/play.schelp
  SCClassLibrary/Common/Control/GraphBuilder.sc
Labels: API change, comp: class library

#3837 [docs] - supercollider/supercollider - supercollider/HelpSource/Classes/Server.schelp - minor attempts at fixing some typos and grammar
  HelpSource/Classes/Server.schelp
Labels: comp: help

#3840 Update MIDIOut documentation for Linux
  HelpSource/Classes/MIDIOut.schelp
  SCClassLibrary/Common/Control/MIDIOut.sc
Labels: comp: help

#3732 Add freeSelfResumeNext done action
  HelpSource/Classes/Done.schelp
  SCClassLibrary/Common/Audio/EnvGen.sc
  server/scsynth/SC_Node.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  testsuite/classlibrary/TestDoneActions.sc
Labels: API extension, comp: scsynth, enhancement

#3808 assert exception
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  testsuite/classlibrary/TestUnitTest.sc
Labels: comp: UnitTest

#3841 Letting TestNode_Server:test_getn time out and fail
  testsuite/classlibrary/TestNode_Server.sc
Labels: comp: UnitTest

#3826 comp: allocReadChannel no longer requires last argument in supernova
  HelpSource/Classes/Buffer.schelp
  HelpSource/Reference/Server-Command-Reference.schelp
  SCClassLibrary/Common/Control/Buffer.sc
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  testsuite/classlibrary/TestBuffer.sc
Labels: comp: class library, comp: supernova

#3831 SCDoc: redesign TOC and menubar again
  HelpSource/Browse.html
  HelpSource/OldHelpWrapper.html
  HelpSource/Overviews/Classes.html
  HelpSource/Overviews/Documents.html
  HelpSource/Overviews/Methods.html
  HelpSource/Search.html
  HelpSource/lib/jquery.min.js
  HelpSource/scdoc.css
  HelpSource/scdoc.js
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Labels: comp: SCDoc

#3857 sclang: adds exception tests for Integer:forBy
  testsuite/classlibrary/TestInteger.sc
Labels: comp: test suite

#3866 appveyor: use symlink to current qt version
  .appveyor.yml
Labels: comp: appveyor

#3885 Cherrypick #3871 onto 3.10
  SCClassLibrary/Common/GUI/Base/Menu.sc
Labels: comp: class library

#3884 typo: git remote add upstream
  CONTRIBUTING.md
Labels: comp: help

#3883 docs: match code syntax highlighting from the default theme
  HelpSource/lang-sc.js
  HelpSource/scdoc.css
Labels: comp: SCDoc

#3867 sclang: Fix scaling of canvas painting
  QtCollider/widgets/QcCanvas.cpp
  QtCollider/widgets/QcScopeShm.cpp
Labels: comp: Qt GUI

#3897 Supernova: Add missing \n to buffer command error messages
  server/supernova/sc/sc_osc_handler.cpp
Labels: bug, comp: supernova

#3851 Classlib: Pstretch(p): Correct bug resulting from variable name confusion
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  testsuite/classlibrary/TestPattern.sc
Labels: bug, comp: class library

#3776 Fix nodeproxy release shape
  HelpSource/Classes/Ndef.schelp
  HelpSource/Classes/NodeProxy.schelp
  HelpSource/Tutorials/JITLib/jitlib_fading.schelp
  HelpSource/Tutorials/JITLib/proxyspace_examples.schelp
  SCClassLibrary/JITLib/ProxySpace/ProxyInterfaces.sc
Labels: bug, comp: class library

#3797 Fix EnvGate issues
  SCClassLibrary/Common/Control/GraphBuilder.sc
  testsuite/classlibrary/TestEnvGate.sc
Labels: bug, comp: class library

#3861 Clarify windows readme
  README_WINDOWS.md
Labels: comp: help

#3909 appveyor: update aws keys
  .appveyor.yml
Labels: comp: appveyor

#3893 supernova_getn: fix getn response
  server/supernova/sc/sc_osc_handler.cpp
Labels: bug, comp: supernova

#3848 Fix supernova reboot bug, add reboot tests
  HelpSource/Classes/Server.schelp
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/Control/ServerStatus.sc
  testsuite/classlibrary/TestNodeProxy.sc
  testsuite/classlibrary/TestServer_boot.sc
Labels: bug, comp: supernova, comp: test suite

#3881 Update scdoc.css (reupload of #3865)
  HelpSource/scdoc.css
Labels: comp: SCDoc

#3913 [Org Docs] Improve CONTRIBUTING.md
  CONTRIBUTING.md
Labels: comp: project docs, organizational

#3910 Add issue/PR template, DEVELOPING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEVELOPING.md
Labels: comp: project docs

#3796 test: add NamedControl tests
  testsuite/classlibrary/TestNamedControl.sc
Labels: comp: test suite

#3919 Add info on deprecations
  DEVELOPING.md
Labels: comp: project docs

#3539 Add SequenceableCollection#unixCmdGetStdOut
  HelpSource/Classes/Pipe.schelp
  HelpSource/Classes/SequenceableCollection.schelp
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Files/File.sc
  common/sc_popen.cpp
  common/sc_popen.h
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangPrimSource/PyrUnixPrim.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrObject.h
  lang/LangSource/PyrSlot.h
  testsuite/classlibrary/TestProcessCreation.sc
Labels: comp: class library, comp: sclang
