Repository supercollider/supercollider, pull requests merged in 2018-09, with the labels that each got.

#4043 Cmake: force set install prefix on macos
  CMakeLists.txt
Labels: comp: build

#4028 Topic/unit test info
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEVELOPING.md
Labels: comp: help

#4045 Classlib: SoundFile constructors should use 'this' instead of hardcoding
  SCClassLibrary/Common/Files/SoundFile.sc
  testsuite/classlibrary/TestSoundFile.sc
  testsuite/classlibrary/TestSoundFile_Normalize.sc
Labels: bug, comp: class library

#4057 Fix Tour of UGens GrainSin examples
  HelpSource/Guides/Tour_of_UGens.schelp
Labels: comp: help

#3728 SoundFile: fix cue method
  HelpSource/Classes/SoundFile.schelp
  SCClassLibrary/Common/Files/SoundFile.sc
  testsuite/classlibrary/TestSoundFile.sc
  testsuite/classlibrary/TestSoundFile_Server.sc
Labels: bug, comp: class library, enhancement

#4068 docs/travis: note that macOS >= 10.10 is required
  .travis/before-script-osx.sh
  README.md
  README_MACOS.md
Labels: comp: project docs, comp: travis

#3221 supernova: include argument names in queryTree
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_synth.hpp
  server/supernova/server/synth.hpp
  testsuite/server/supernova/test_synth.hpp
Labels: comp: supernova

#4055 Add tools/cmake_gen
  include/plugin_interface/SC_RGen.h
  tools/cmake_gen/CMakeLists_footer.template
  tools/cmake_gen/CMakeLists_header.template
  tools/cmake_gen/README.md
  tools/cmake_gen/SuperColliderCompilerConfig.cmake
  tools/cmake_gen/SuperColliderServerPlugin.cmake
  tools/cmake_gen/generate_server_plugin_cmake.py
Labels: comp: build

#3949 Fixes image constructor with a filename as argument, solves #3947
  SCClassLibrary/Common/GUI/Base/QImage.sc
Labels: bug, comp: Qt GUI

#4090 NodeProxy set can be used with arbitrary objects
  SCClassLibrary/JITLib/ProxySpace/NodeMap.sc
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
  testsuite/classlibrary/TestNodeMap.sc
Labels: comp: class library
