Repository supercollider/supercollider, pull requests merged in 2018-10, with the labels that each got.

#3961 TestEvent - remove added eventType after test
  testsuite/classlibrary/TestEvent.sc
Labels: bug, comp: UnitTest

#4103 Help: VarLag: Explicitly note the kr input limitation [skip ci]
  HelpSource/Classes/VarLag.schelp
Labels: comp: help

#4085 Fix FunctionDef:argumentString
  SCClassLibrary/Common/Core/Kernel.sc
Labels: bug, comp: class library, needs unit test

#4113 [scsynth] Use snprintf, add constants for buffer sizes
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_Group.cpp
  server/scsynth/SC_Lib.cpp
  server/scsynth/SC_SequencedCommand.cpp
Labels: comp: scsynth

#4114 Fix Ndef fadeTime
  SCClassLibrary/Common/Audio/SystemSynthDefs.sc
  SCClassLibrary/JITLib/ProxySpace/ProxyInterfaces.sc
  SCClassLibrary/JITLib/ProxySpace/ProxySynthDef.sc
  testsuite/classlibrary/TestNodeProxy.sc
Labels: bug, comp: JITlib, comp: class library

#4119 cmake: turn off -ffast-math for gcc
  CMakeLists.txt
Labels: comp: build, os: Linux
