Repository supercollider/supercollider, pull requests merged in 2018-02, with the labels that each got.

#3501 sclang: SequenceableCollection:unixCmd respects PATH
  common/sc_popen.cpp
Labels: comp: sclang

#3035 SynthDef File Format: note (un)signed ints
  HelpSource/Reference/Synth-Definition-File-Format.schelp
Labels: comp: help

#3508 qt gui: add "path" option to FileDialog and Dialog
  HelpSource/Classes/Dialog.schelp
  HelpSource/Classes/FileDialog.schelp
  QtCollider/widgets/QcFileDialog.cpp
  QtCollider/widgets/QcFileDialog.h
  SCClassLibrary/Common/GUI/Base/QDialog.sc
Labels: comp: class library

#3514 CMake: don't rebuild boost libs
  external_libraries/CMakeLists.txt
  lang/CMakeLists.txt
  server/scsynth/CMakeLists.txt
Labels: comp: 3rd party, comp: build

#3496 Set up Boost unit test suite for scsynth
  testsuite/CMakeLists.txt
  testsuite/server/CMakeLists.txt
  testsuite/server/boost_test.cpp
  testsuite/server/scsynth/CMakeLists.txt
  testsuite/server/scsynth/scsynth_test.cpp
  testsuite/server/scsynth/scsynth_test.hpp
  testsuite/server/supernova/CMakeLists.txt
  testsuite/server/supernova/audio_backend_test.cpp
  testsuite/server/supernova/audio_frontend_test.cpp
  testsuite/server/supernova/buffer_manager_test.cpp
  testsuite/server/supernova/callback_interpreter_system.cpp
  testsuite/server/supernova/default.scsyndef
  testsuite/server/supernova/help-In.scsyndef
  testsuite/server/supernova/help_Demand.scsyndef
  testsuite/server/supernova/help_InFeedback.scsyndef
  testsuite/server/supernova/help_LocalBuf.scsyndef
  testsuite/server/supernova/help_LocalIn.scsyndef
  testsuite/server/supernova/help_PlayBuf.scsyndef
  testsuite/server/supernova/help_RecordBuf.scsyndef
  testsuite/server/supernova/help_RecordBuf_overdub.scsyndef
  testsuite/server/supernova/help_out.scsyndef
  testsuite/server/supernova/help_out2.scsyndef
  testsuite/server/supernova/memory-pool_test.cpp
  testsuite/server/supernova/perf_counter_test.cpp
  testsuite/server/supernova/sc_plugin_loader_test.cpp
  testsuite/server/supernova/sc_synth_prototype_test.cpp
  testsuite/server/supernova/sc_synthdef_test.cpp
  testsuite/server/supernova/server_dsp_thread_queue_test.cpp
  testsuite/server/supernova/server_dsp_thread_test.cpp
  testsuite/server/supernova/server_node_graph_test.cpp
  testsuite/server/supernova/server_sc_osc_handler_test.cpp
  testsuite/server/supernova/server_scheduler_test.cpp
  testsuite/server/supernova/server_synth_factory_test.cpp
  testsuite/server/supernova/server_test.cpp
  testsuite/server/supernova/simple_pool_test.cpp
  testsuite/server/supernova/sized_array_test.cpp
  testsuite/server/supernova/sndfile_backend_test.cpp
  testsuite/server/supernova/static_allocator_test.cpp
  testsuite/server/supernova/static_pool_test.cpp
  testsuite/server/supernova/test_synth.hpp
  testsuite/server/supernova/timetag_test.cpp
  testsuite/server/supernova/tl_allocator_test.cpp
Labels: comp: scsynth, comp: test suite
