Repository supercollider/supercollider, pull requests merged in 2018-03, with the labels that each got.

#3499 add crossplatform kill method
  HelpSource/Classes/Platform.schelp
  SCClassLibrary/Platform/Platform.sc
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Labels: comp: class library

#3527 classlib: optimise and remove some .interpret
  SCClassLibrary/Common/Core/Color.sc
  SCClassLibrary/Common/Streams/History.sc
Labels: comp: class library

#3546 Rebasing #3538 onto 3.9
  SCClassLibrary/Common/Control/asScore/ScoreStreamPlayer.sc
Labels: comp: class library

#3512 Contributing: add info about adding translations
  CONTRIBUTING.md
Labels: comp: project docs

#3525 Cmake: quote commands given to cmd (windows)
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
Labels: comp: build, os: Windows

#3507 Deprecate File.saveDialog, openDialog, openDialogs
  HelpSource/Classes/File.schelp
  SCClassLibrary/Common/Files/File.sc
  SCClassLibrary/Common/GUI/PlusGUI/Files/FilePlusGUI.sc
  SCClassLibrary/deprecated/3.10/File.sc
  SCClassLibrary/deprecated/3.10/GUI/File.sc
Labels: comp: class library

#3548 PyrLexer: expand "~" in pathnames in passOne_processDir
  lang/LangSource/PyrLexer.cpp
Labels: comp: sclang

#3551 Topic osc time argument
  HelpSource/Classes/OSCFunc.schelp
  HelpSource/Classes/OSCdef.schelp
  HelpSource/Classes/SendReply.schelp
Labels: comp: help

#3562 Linux readme: gcc 4.8 is minimum required, not recommended
  README_LINUX.md
Labels: comp: project docs

#3558 cmake: correctly include yaml-cpp
  editors/sc-ide/CMakeLists.txt
  external_libraries/CMakeLists.txt
  lang/CMakeLists.txt
Labels: comp: 3rd party, comp: build

#3556 cmake: fix doc, sclang-test targets
  CMakeLists.txt
  build_sclang.cfg.in
  testsuite/sclang/CMakeLists.txt
Labels: comp: build, comp: test suite

#3472 Remove potentially unused qt5 dependencies
  .travis/before-install-linux.sh
  QtCollider/CMakeLists.txt
  README_LINUX.md
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
Labels: comp: 3rd party, comp: build, comp: travis

#3486 fix re-login behavior of remote clients to a server
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/Control/ServerStatus.sc
  testsuite/classlibrary/TestServer_clientID_booted.sc
Labels: comp: class library

#3561 docs: update CONTRIBUTING.md with rebase caveats and general clarifications
  CONTRIBUTING.md
Labels: comp: project docs

#3521 Lang: Add event[\isRest] == true test to Event_IsRest primitive
  lang/LangPrimSource/PyrListPrim.cpp
  testsuite/classlibrary/TestAbstractFunction.sc
Labels: comp: sclang, enhancement

#3577 sclang: create config dir on startup, report errors from LanguageConfig.store
  HelpSource/Classes/LanguageConfig.schelp
  SCClassLibrary/Common/Core/LanguageConfig.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_TerminalClient.cpp
Labels: comp: class library, comp: sclang

#3540 remove SuperColliderAU from platform/mac
  platform/mac/SuperColliderAU/AUSDK/AUBase.cpp
  platform/mac/SuperColliderAU/AUSDK/AUBase.h
  platform/mac/SuperColliderAU/AUSDK/AUBuffer.cpp
  platform/mac/SuperColliderAU/AUSDK/AUBuffer.h
  platform/mac/SuperColliderAU/AUSDK/AUDispatch.cpp
  platform/mac/SuperColliderAU/AUSDK/AUDispatch.h
  platform/mac/SuperColliderAU/AUSDK/AUEffectBase.cpp
  platform/mac/SuperColliderAU/AUSDK/AUEffectBase.h
  platform/mac/SuperColliderAU/AUSDK/AUInputElement.cpp
  platform/mac/SuperColliderAU/AUSDK/AUInputElement.h
  platform/mac/SuperColliderAU/AUSDK/AUMIDIBase.cpp
  platform/mac/SuperColliderAU/AUSDK/AUMIDIBase.h
  platform/mac/SuperColliderAU/AUSDK/AUMIDIEffectBase.cpp
  platform/mac/SuperColliderAU/AUSDK/AUMIDIEffectBase.h
  platform/mac/SuperColliderAU/AUSDK/AUOutputElement.cpp
  platform/mac/SuperColliderAU/AUSDK/AUOutputElement.h
  platform/mac/SuperColliderAU/AUSDK/AUResources.r
  platform/mac/SuperColliderAU/AUSDK/AUScopeElement.cpp
  platform/mac/SuperColliderAU/AUSDK/AUScopeElement.h
  platform/mac/SuperColliderAU/AUSDK/AUSilentTimeout.h
  platform/mac/SuperColliderAU/AUSDK/CAAtomicStack.h
  platform/mac/SuperColliderAU/AUSDK/CAAudioChannelLayout.cpp
  platform/mac/SuperColliderAU/AUSDK/CAAudioChannelLayout.h
  platform/mac/SuperColliderAU/AUSDK/CADebugMacros.h
  platform/mac/SuperColliderAU/AUSDK/CAHostTimeBase.h
  platform/mac/SuperColliderAU/AUSDK/CAMath.h
  platform/mac/SuperColliderAU/AUSDK/CAReferenceCounted.h
  platform/mac/SuperColliderAU/AUSDK/CAStreamBasicDescription.cpp
  platform/mac/SuperColliderAU/AUSDK/CAStreamBasicDescription.h
  platform/mac/SuperColliderAU/AUSDK/CAThreadSafeList.h
  platform/mac/SuperColliderAU/AUSDK/CAVectorUnit.cpp
  platform/mac/SuperColliderAU/AUSDK/CAVectorUnit.h
  platform/mac/SuperColliderAU/AUSDK/CAVectorUnitTypes.h
  platform/mac/SuperColliderAU/AUSDK/ComponentBase.cpp
  platform/mac/SuperColliderAU/AUSDK/ComponentBase.h
  platform/mac/SuperColliderAU/Resources/English.lproj/InfoPlist.strings
  platform/mac/SuperColliderAU/Resources/Info.plist
  platform/mac/SuperColliderAU/Resources/icon.tif
  platform/mac/SuperColliderAU/Resources/pluginSpec.plist
  platform/mac/SuperColliderAU/Resources/serverConfig.plist
  platform/mac/SuperColliderAU/Resources/version.plist
  platform/mac/SuperColliderAU/Source/ControlSpecs.cpp
  platform/mac/SuperColliderAU/Source/ControlSpecs.h
  platform/mac/SuperColliderAU/Source/OSCMessages.cpp
  platform/mac/SuperColliderAU/Source/OSCMessages.h
  platform/mac/SuperColliderAU/Source/Resources.cpp
  platform/mac/SuperColliderAU/Source/Resources.h
  platform/mac/SuperColliderAU/Source/SCProcess.cpp
  platform/mac/SuperColliderAU/Source/SCProcess.h
  platform/mac/SuperColliderAU/Source/SuperColliderAU.cpp
  platform/mac/SuperColliderAU/Source/SuperColliderAU.exp
  platform/mac/SuperColliderAU/Source/SuperColliderAU.h
  platform/mac/SuperColliderAU/Source/SuperColliderAU.r
  platform/mac/SuperColliderAU/Source/SuperColliderAUVersion.h
  platform/mac/SuperColliderAU/scaudk/Readme.txt
  platform/mac/SuperColliderAU/scaudk/SuperColliderAU.r
  platform/mac/SuperColliderAU/scaudk/makecustomplugin
Labels: comp: 3rd party, git repository

#3581 sclang: delete SC_Speech.cpp
  lang/LangPrimSource/SC_Speech.cpp
Labels: comp: sclang

#3560 QTreeView: add setColumnWidth
  HelpSource/Classes/TreeView.schelp
  QtCollider/widgets/QcTreeWidget.cpp
  QtCollider/widgets/QcTreeWidget.h
  SCClassLibrary/Common/GUI/Base/QTreeView.sc
Labels: comp: Qt GUI

#3532 help: using floats as integers
  HelpSource/Classes/Float.schelp
Labels: comp: class library, comp: help, comp: sclang

#2778 Windows: fix incorrectly escaped paths passed to shell
  HelpSource/Classes/Platform.schelp
  SCClassLibrary/Common/Quarks/Git.sc
  SCClassLibrary/Platform/Platform.sc
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Labels: comp: class library, quarks

#3594 Bump version to 3.9.2 and update changelog
  CHANGELOG.md
  SCVersion.txt
Labels: comp: help

#3599 open git URL without fetch
  SCClassLibrary/Common/Quarks/QuarksGui.sc
Labels: quarks

#3585 sclang: print floats with at least 1 decimal place
  lang/LangSource/DumpParseNode.cpp
  testsuite/classlibrary/TestFloat.sc
Labels: comp: sclang
