Repository supercollider/supercollider, pull requests merged in 2018-08, with the labels that each got.

#3917 help: Rewrite README
  CHANGELOG.md
  README.md
Labels: comp: help

#3923 [Project Docs] wording fix for README.md
  README.md
Labels: comp: project docs

#3929 remove stray path
  HelpSource/Classes/BusPlug.schelp
Labels: comp: help

#3912 [enhancement] - supercollider/supercollider - supercollider/helpsource/brokenlink.html - humble attempt at improving document indentation
  HelpSource/BrokenLink.html
Labels: comp: SCDoc

#3918 class library: function plot switches method
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library

#3936 help browser: fix shortcut handling
  editors/sc-ide/widgets/help_browser.cpp
Labels: env: SCIDE

#3935 fix free/freeMsg nil buffer check
  SCClassLibrary/Common/Control/Buffer.sc
Labels: bug, comp: class library

#3809 Windows support for SerialPort
  HelpSource/Classes/SerialPort.schelp
  SCClassLibrary/Common/Control/SerialPort.sc
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangPrimSource/PyrSerialPrim.cpp
  testsuite/classlibrary/TestSerialPort.sc
Labels: API change, comp: sclang, waiting for testing

#3954 Improve Dictionary getPairs / asPairs doc, solves #3617
  HelpSource/Classes/Dictionary.schelp
Labels: comp: help

#3946 3.10 beta1 minor issues
  README_LINUX.md
  examples/other/onetwoonetwo.sc
  platform/linux/CMakeLists.txt
Labels: comp: help

#3955 [Bug fix] Check success using File.isOpen
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/scide_scqt/ScIDE.sc
Labels: bug, comp: class library

#3953 fix Sync-async guide, solves #3896
  HelpSource/Guides/Sync-Async.schelp
Labels: comp: help

#3956 add parseJSON and parseJSONFile shortcuts, fixes #3609
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/String.sc
Labels: comp: class library

#3962 Collection:== : add early exit for identity, also in subclasses
  SCClassLibrary/Common/Collections/Collection.sc
  SCClassLibrary/Common/Collections/Dictionary.sc
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Collections/String.sc
Labels: comp: class library

#3925 Fixes Synthdef documentation, solves #3920
  HelpSource/Classes/SynthDef.schelp
Labels: comp: help

#3819 class library: fix String -asSecs
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/String.sc
  SCClassLibrary/Common/Math/SimpleNumber.sc
  testsuite/classlibrary/TestString.sc
Labels: comp: class library

#3921 [class library] new _FileDeleteAll primitive
  HelpSource/Classes/File.schelp
  SCClassLibrary/Common/Files/File.sc
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrFilePrim.h
Labels: comp: class library, comp: sclang

#3904 docs: add support for evaluating code regions
  HelpSource/codemirror.css
  HelpSource/editor.css
  HelpSource/editor.js
  HelpSource/lang-sc.js
  HelpSource/lib/codemirror-5.39.2.min.js
  HelpSource/lib/codemirror-addon-simple-5.39.2.min.js
  HelpSource/prettify.js
  HelpSource/scdoc.css
  HelpSource/scdoc.js
  HelpSource/syntax_colors.html
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Labels: comp: SCDoc

#3966 improve PR & issue templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: comp: project docs

#3970 [bug] fix Signal equality
  lang/LangSource/PyrSignal.cpp
  testsuite/classlibrary/TestSignal.sc
Labels: bug, comp: sclang

#3950 [scide] ui colors now reflect editor colors in settings
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/main.hpp
Labels: env: SCIDE

#3983 [scide] Rename "DocketToolButton" to "DockletToolButton"
  editors/sc-ide/widgets/util/docklet.cpp
  editors/sc-ide/widgets/util/docklet.hpp
Labels: env: SCIDE

#3988 ide: only allow one preferences window open at a time
  editors/sc-ide/widgets/main_window.cpp
Labels: env: SCIDE

#3985 cmake: run macdeployqt on qtwebengineprocess binary as well
  editors/sc-ide/CMakeLists.txt
Labels: comp: build, os: macOS

#3960 [IDE] fix shift-enter behavior in IDE
  .travis/before-install-linux.sh
  HelpSource/editor.js
  HelpSource/scdoc.js
  README_LINUX.md
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/core/main.cpp
  editors/sc-ide/widgets/util/IDEWebChannelWrapper.hpp
  editors/sc-ide/widgets/util/WebSocketClientWrapper.hpp
  editors/sc-ide/widgets/util/WebSocketTransport.cpp
  editors/sc-ide/widgets/util/WebSocketTransport.hpp
Labels: env: SCIDE

#3993 [help] Add 3.10.0-beta1 changelog
  CHANGELOG.md
Labels: comp: help

#3986 Classlib: Quarks: Correct the user feedback in GUI "Check for updates"
  HelpSource/Classes/Quarks.schelp
  SCClassLibrary/Common/Quarks/Quarks.sc
  SCClassLibrary/Common/Quarks/QuarksGui.sc
Labels: API change, bug, quarks

#3974 docs: improve syntax highlighter
  HelpSource/editor.css
  HelpSource/editor.js
Labels: env: SCIDE

#4001 appveyor: use correctly encrypted github token
  .appveyor.yml
Labels: comp: appveyor

#4011 [help] Update Linux README
  README_LINUX.md
Labels: comp: help

#4004 help-browser: rm keybinding used for js debugging only
  HelpSource/editor.js
Labels: comp: SCDoc

#4014 Fixes a small typo on "Understanding Streams, Patterns and Events - Part 7"
  HelpSource/Tutorials/Streams-Patterns-Events7.schelp
Labels: comp: help

#3907 class library: Buffer: convert starting frame to integer before sending to server
  SCClassLibrary/Common/Control/Buffer.sc
Labels: comp: class library

#3687 Convolution2L: fixes #723
  server/plugins/Convolution.cpp
Labels: comp: server plugins

#4018 comment bad include to sndfile to let windows compile supernova
  server/supernova/server/buffer_manager.cpp
Labels: comp: supernova

#4016 Help: Correct the 'pvcollect' example function
  HelpSource/Classes/PV_ChainUGen.schelp
Labels: comp: help

#3992 [scide] Improve look of tabs
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/core/app_palette.cpp
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/util/color.cpp
  editors/sc-ide/core/util/color.hpp
  editors/sc-ide/widgets/code_editor/editor.cpp
  editors/sc-ide/widgets/code_editor/editor.hpp
  editors/sc-ide/widgets/multi_editor.cpp
  editors/sc-ide/widgets/style/style.cpp
  editors/sc-ide/widgets/style/style.hpp
Labels: env: SCIDE

#4021 [scide] Fix tab overline
  editors/sc-ide/widgets/style/style.cpp
Labels: env: SCIDE

#4027 class library: Check message is >= template size in OSCArgsMatcher
  SCClassLibrary/Common/Control/ResponseDefs.sc
  testsuite/classlibrary/TestOSCFunc.sc
Labels: comp: class library

#4025 [scide] Change default theme
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/core/settings/default_themes.cpp
  editors/sc-ide/core/settings/theme.cpp
  editors/sc-ide/core/settings/theme.hpp
Labels: env: SCIDE

#4032 [scide] [scdoc] Add syntax highlighting for scale degree literals
  HelpSource/editor.js
  editors/sc-ide/core/sc_lexer.cpp
  editors/sc-ide/widgets/code_editor/highlighter.cpp
  editors/sc-ide/widgets/code_editor/tokens.hpp
Labels: comp: SCDoc, env: SCIDE

#4038 appveyor: use previous images
  .appveyor.yml
Labels: comp: appveyor

#4002 travis: build supernova for MacOS
  .travis/before-install-osx.sh
  .travis/before-script-osx.sh
Labels: comp: build, comp: travis

#4036 Classlib: Remove pseudo-method calls from Pspawn:embedInStream
  SCClassLibrary/Common/Streams/Pspawner.sc
Labels: bug, comp: class library
