Repository supercollider/supercollider, pull requests merged in 2018-11, with the labels that each got.

#4105 qtcollider: swallow events
  QtCollider/QcApplication.cpp
  QtCollider/interface.cpp
Labels: comp: Qt GUI, os: macOS

#4152 appveyor: use newer vs2017 image
  .appveyor.yml
Labels: comp: appveyor

#4123 fix Pconst help file
  HelpSource/Classes/Pconst.schelp
Labels: comp: help

#4144 Update Knob help to better showcase mouse modes
  HelpSource/Classes/Knob.schelp
Labels: comp: help

#4170 scide: fix hex int highlighting
  HelpSource/editor.js
  editors/sc-ide/core/sc_lexer.cpp
Labels: env: SCIDE

#4158 Cherry pick #3819
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/String.sc
  testsuite/classlibrary/TestString.sc
Labels: comp: class library

#4161 [scide] Fix colors in "classic" theme
  editors/sc-ide/core/settings/default_themes.cpp
Labels: env: SCIDE

#4181 Update README_MACOS.md
  README_MACOS.md
Labels: comp: project docs

#3891 docs: make docs scale well on all screen sizes + responsive menu
  HelpSource/BrokenLink.html
  HelpSource/Browse.html
  HelpSource/OldHelpWrapper.html
  HelpSource/Other/HelpDocsLicensing.html
  HelpSource/Other/Licensing.html
  HelpSource/Overviews/Classes.html
  HelpSource/Overviews/Documents.html
  HelpSource/Overviews/Methods.html
  HelpSource/Search.html
  HelpSource/scdoc.css
  HelpSource/scdoc.js
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Labels: comp: SCDoc

#4145 class library: checks if quarks local path is a dir before installing
  SCClassLibrary/Common/Quarks/Quarks.sc
Labels: comp: class library

#4184 docs: add info on crash logs
  .github/ISSUE_TEMPLATE.md
  CONTRIBUTING.md
Labels: comp: project docs

#4186 help: add QtGUI.schelp
  HelpSource/Classes/QtGUI.schelp
Labels: comp: help

#4189 [help] Document QtWebSockets dependency in Linux readme
  README_LINUX.md
Labels: comp: help
