Repository supercollider/supercollider, pull requests merged in 2019-02, with the labels that each got.

#3870 sclang: refactor server menu
  SCClassLibrary/Common/GUI/Base/Menu.sc
Labels: comp: Qt GUI

#4285 main menu: don't init menu actions in initClass; document
  HelpSource/Classes/MainMenu.schelp
  SCClassLibrary/Common/GUI/Base/Menu.sc
Labels: comp: Qt GUI, comp: help, comp: sclang

#4282 Amend multichannel expansion guide
  HelpSource/Guides/Multichannel-Expansion.schelp
Labels: comp: help

#4280 examples: improved aural comprehension
  examples/research_and_tools/SeminaireMusical.scd
Labels: comp: examples

#4277 Always set server's number of In/Out channels
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: class library, enhancement

#4089 Use asInteger instead of asInt. Fix #4015
  HelpSource/Classes/AbstractFunction.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/SequenceableCollection.schelp
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Core/Object.sc
  SCClassLibrary/Common/Math/Signal.sc
  SCClassLibrary/Common/Math/SimpleNumber.sc
  SCClassLibrary/deprecated/3.11/deprecated-3.11.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/Opcodes.h
  lang/LangSource/PyrMathOps.cpp
  lang/LangSource/PyrParseNode.cpp
  server/plugins/UnaryOpUGens.cpp
  testsuite/sclang/lpc/TestCompilerBrutal.sc
Labels: comp: class library, comp: sclang

#4318 Fix menu inline warnings
  SCClassLibrary/Common/GUI/Base/Menu.sc
Labels: comp: class library

#4327 remove refs to TDuty_old
  HelpSource/Classes/TDuty.schelp
  HelpSource/Classes/TDuty_old.schelp
Labels: comp: help
