Repository supercollider/supercollider, pull requests merged in 2019-11, with the labels that each got.

#4622 travis: update osx to xcode9.4 [3.10]
  .travis.yml
  .travis/before-install-osx.sh
  .travis/qpm-prep.sh
Labels: comp: travis

#4623 travis: update osx to xcode9.4 [develop]
  .travis.yml
  .travis/before-install-osx.sh
  .travis/qpm-prep.sh
Labels: comp: travis

#4278 class library: some NodeProxy roles fade in and out correctly again
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
  testsuite/classlibrary/TestNodeProxyRoles.sc
Labels: comp: class library

#4611 Xcode 11 support
  CMakeLists.txt
  common/server_shm.hpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/utilities/osc_server.hpp
Labels: comp: build, comp: supernova

#4624 readme: update slack invite link
  README.md
Labels: comp: project docs

#4635 Readme: add info about RFCs
  README.md
Labels: comp: project docs

#4533 On macOS, register cmd+q on sclang interpreter main menu, solves #3824
  QtCollider/QcApplication.cpp
  QtCollider/QcApplication.h
Labels: comp: sclang

#4636 clang-format.py: accept any 8.y.z version
  tools/clang-format.py
Labels: comp: build

#4379 Supernova bugfixes/improvements
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
Labels: bug, comp: supernova

#4632 CMake: update error message
  external_libraries/CMakeLists.txt
Labels: comp: build

#4630 Appveyor: only deploy to s3 on main repo
  .appveyor.yml
Labels: comp: appveyor

#4628 Rework sc-ide build to create a static library
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/main_function.cpp
Labels: comp: build, env: SCIDE

#4585 clang-format.py: don't consider empty output an error
  tools/clang-format.py
Labels: enhancement

#4643 Server related fixes for some UnitTests
  testsuite/classlibrary/TestOSCBundle.sc
  testsuite/classlibrary/server/TestMixedBundleTester.sc
Labels: comp: UnitTest

#4614 [scsynth:portaudio] move helper functions
  common/SC_PaUtils.cpp
  common/SC_PaUtils.hpp
  server/scsynth/CMakeLists.txt
  server/scsynth/SC_PortAudio.cpp
Labels: comp: scsynth

#4655 Travis: use the SuperCollider org fork of QPM
  .travis/qpm-prep.sh
Labels: comp: travis

#4645 scide: Fix a dangling pointer when removing splits
  editors/sc-ide/widgets/code_editor/editor.cpp
  editors/sc-ide/widgets/code_editor/editor.hpp
Labels: bug, env: SCIDE

#4493 Topic/fix node proxy free bus timing
  HelpSource/Classes/NodeProxy.schelp
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
  testsuite/classlibrary/TestNodeProxy.sc
  testsuite/classlibrary/TestNodeProxy_Server.sc
Labels: bug, comp: class library

#4651 Refactor TestUnitTest
  testsuite/classlibrary/TestUnitTest.sc
  testsuite/classlibrary/server/TestUnitTest-test_bootServer.sc
Labels: comp: UnitTest
