Repository supercollider/supercollider, pull requests merged in 2019-07, with the labels that each got.

#4466 Fixed the first example of ScopeView and added minimal explanations f…
  HelpSource/Classes/ScopeView.schelp
Labels: comp: help

#4471 Update DEVELOPING.md
  DEVELOPING.md
Labels: comp: project docs, organizational

#4435 supernova: add mutex to tcp send function
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
Labels: comp: supernova

#4487 revert clang-formatting for hand-formatted code
  server/supernova/server/server_args.cpp
Labels: comp: supernova

#4441 Classlib: Add 'composite' event type to default Event prototype
  HelpSource/Classes/Event.schelp
  HelpSource/Overviews/Event_types.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_08_Event_Types_and_Parameters.schelp
  SCClassLibrary/Common/Collections/Event.sc
  testsuite/classlibrary/TestEvent.sc
Labels: comp: class library, enhancement
