Repository supercollider/supercollider, pull requests merged in 2019-12, with the labels that each got.

#4649 [scide][qtcollider] Fix Qt deprecations
  QtCollider/primitives/prim_QImage.cpp
  QtCollider/primitives/prim_misc.cpp
  QtCollider/widgets/QcWindow.cpp
  editors/sc-ide/core/doc_manager.cpp
  editors/sc-ide/core/sc_introspection.cpp
  editors/sc-ide/widgets/code_editor/line_indicator.cpp
  editors/sc-ide/widgets/doc_list.cpp
  editors/sc-ide/widgets/doc_list.hpp
  editors/sc-ide/widgets/main_window.cpp
  editors/sc-ide/widgets/main_window.hpp
  editors/sc-ide/widgets/multi_editor.cpp
  editors/sc-ide/widgets/multi_editor.hpp
  editors/sc-ide/widgets/post_window.cpp
  editors/sc-ide/widgets/util/icon_list_widget.hpp
Labels: comp: Qt GUI, env: SCIDE

#4598 Classlib: Buffer:write should use Buffer:writeMsg
  HelpSource/Classes/Buffer.schelp
  SCClassLibrary/Common/Control/Buffer.sc
  testsuite/classlibrary/TestBuffer.sc
Labels: bug, comp: class library

#4668 [tools] Cmake gen: fix caching of SC_PATH
  tools/cmake_gen/CMakeLists_header.template
Labels: comp: build

#4673 help: explain usage of key in proxies
  HelpSource/Classes/Pdef.schelp
  HelpSource/Classes/Pdefn.schelp
  HelpSource/Classes/Tdef.schelp
Labels: comp: help

#4675 tests: cleanup TestUnitTest.sc
  testsuite/classlibrary/TestUnitTest.sc
Labels: comp: test suite

#4684 Travis: use travis_retry and force correct installation of dependencies
  .travis/before-install-osx.sh
Labels: comp: travis

#4680 sclang: LanguageConfig store fix
  HelpSource/Classes/LanguageConfig.schelp
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_LanguageConfig.hpp
Labels: comp: sclang

#4612 Support for Boost 1.71
  CMakeLists.txt
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/sc/sc_synthdef.hpp
  server/supernova/utilities/utils.hpp
Labels: comp: build

#4524 add Platform.architecture
  HelpSource/Classes/Platform.schelp
  SCClassLibrary/Platform/Platform.sc
  lang/LangPrimSource/PyrPlatformPrim.cpp
Labels: comp: sclang

#4518 fix closing TCP connections in sclang on recompile
  HelpSource/Classes/NetAddr.schelp
  SCClassLibrary/Common/Control/NetAddr.sc
Labels: comp: sclang

#4691 CI: don't use git fetch --tags
  .appveyor.yml
  .travis.yml
Labels: comp: appveyor, comp: travis

#4694 CMake: always use current year for end date of copyright range
  cmake_modules/MacOSXBundleInfo.plist.in
  editors/sc-ide/CMakeLists.txt
Labels: comp: build

#4693 [test suite] remove commented-out test
  testsuite/classlibrary/TestUnitTest.sc
Labels: comp: test suite

#4354 CMake plugin template (used by cookiecutter): add NOVA_SIMD build option and include boost.
  tools/cmake_gen/CMakeLists_header.template
Labels: comp: build

#4436 plugins: take care of EnvGen not started
  server/plugins/LFUGens.cpp
Labels: comp: server plugins

#4326 Help: Clarify Routine's "inheritance" of clocks, times and RNGs [skip ci]
  HelpSource/Classes/Routine.schelp
  HelpSource/Reference/randomSeed.schelp
Labels: comp: help

#4702 Fix a typo: routs -> routes
  HelpSource/Classes/NodeProxy.schelp
Labels: comp: help

#4697 Topic/update pdocs
  HelpSource/Classes/Pget.schelp
  HelpSource/Classes/Plambda.schelp
  HelpSource/Classes/Plet.schelp
  HelpSource/Classes/Prewrite.schelp
  HelpSource/Classes/Ptrace.schelp
Labels: comp: help

#4662 sclang: fix rounding in SimpleNumber -asTimeString
  SCClassLibrary/Common/Math/SimpleNumber.sc
  testsuite/classlibrary/TestSimpleNumber.sc
Labels: comp: class library

#4223 Topic/plotter fix resample
  HelpSource/Classes/Plotter.schelp
  SCClassLibrary/Common/GUI/Base/Grid.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library, comp: help

#4701 fix proxy fadetime copy and improvemnts to unit tests
  HelpSource/Classes/NodeProxy.schelp
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
  testsuite/classlibrary/TestNodeProxy.sc
Labels: comp: class library

#4477 [portaudio:macos] avoid resampling when talking to audio hardware
  common/SC_PaUtils.cpp
Labels: comp: scsynth, comp: supernova, os: macOS

#4146 scide: disables copy theme if theme is a new theme not yet saved
  editors/sc-ide/core/settings/theme.cpp
  editors/sc-ide/widgets/settings/editor_page.cpp
Labels: env: SCIDE

#4356 SC_Plugin.hpp: registerUnit, add no buffer aliasing flag.
  include/plugin_interface/SC_PlugIn.hpp
Labels: comp: scsynth

#3623 UnitTest: add debug method
  HelpSource/Classes/UnitTest.schelp
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
Labels: comp: UnitTest, comp: class library

#4705 Fix some instances of broken spacing
  HelpSource/Classes/EnvGen.schelp
  HelpSource/Classes/LFDNoise1.schelp
Labels: comp: help
