Repository supercollider/supercollider, pull requests merged in 2019-01, with the labels that each got.

#4211 [cherry-pick] add OpenBSD to SC_Filesystem_unix
  common/SC_Filesystem_unix.cpp
Labels: comp: build, os: Linux

#4222 Update Guide: Tour of Special Functions parameters
  HelpSource/Guides/Tour-of-Special-Functions.schelp
Labels: comp: help

#4180 sclang: fix resolveIfAlias [skip appveyor]
  common/SC_Filesystem_macos.cpp
  testsuite/classlibrary/TestSerialPort.sc
Labels: comp: class library, comp: sclang, os: macOS

#4243 travis macos: don't update brew, fix build error
  .travis/before-install-osx.sh
  .travis/script-osx.sh
Labels: comp: travis

#4240 plugins: Fix CheckBadValues for zeros on MSVC
  server/plugins/TestUGens.cpp
Labels: comp: server plugins

#4208 various fixes to support cookiecutter repo
  include/common/SC_fftlib.h
  include/plugin_interface/Hash.h
  include/plugin_interface/SC_InlineBinaryOp.h
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_PlugIn.hpp
  include/plugin_interface/SC_SndBuf.h
  include/plugin_interface/Unroll.h
  include/plugin_interface/sc_msg_iter.h
  server/scsynth/SC_Str4.h
  tools/cmake_gen/CMakeLists_header.template
  tools/cmake_gen/SuperColliderCompilerConfig.cmake
  tools/cmake_gen/SuperColliderServerPlugin.cmake
  tools/cmake_gen/generate_server_plugin_cmake.py
Labels: comp: 3rd party, comp: server plugins

#4249 travis: Use human-readable name for macOS release upload
  .travis.yml
  .travis/package-osx.sh
Labels: comp: travis

#4212 Contributing.md: add info on rebasing
  CONTRIBUTING.md
Labels: comp: project docs

#4221 fix Score examples and Platform.defaultTempDir on OSX
  HelpSource/Classes/Score.schelp
  SCClassLibrary/Platform/osx/OSXPlatform.sc
Labels: comp: class library, comp: help

#4241 sclang: Fix 'findRegexp' empty-result case
  HelpSource/Classes/String.schelp
  lang/LangPrimSource/PyrStringPrim.cpp
  testsuite/classlibrary/TestString.sc
Labels: bug, comp: sclang

#4254 Topic/tempo clock is running
  HelpSource/Classes/TempoClock.schelp
  SCClassLibrary/Common/Core/Clock.sc
  testsuite/classlibrary/TestTempoClock.sc
Labels: API extension, comp: class library, enhancement

#4255 sclang: fix string/symbol lexing
  lang/LangSource/PyrLexer.cpp
Labels: comp: sclang

#4265 Small fixes to help files, solves #3998
  HelpSource/Classes/Buffer.schelp
  HelpSource/Classes/Image.schelp
  HelpSource/Classes/NodeMap.schelp
  HelpSource/Classes/NodeProxy.schelp
  HelpSource/Classes/Pipe.schelp
  HelpSource/Classes/Platform.schelp
  HelpSource/Classes/UnitTest.schelp
  HelpSource/Classes/View.schelp
  HelpSource/Guides/NodeMessaging.schelp
  HelpSource/Guides/UGens-and-Synths.schelp
  HelpSource/Guides/WritingTests.schelp
  HelpSource/Tutorials/Mark_Polishook_tutorial/05_The_network.schelp
  SCClassLibrary/JITLib/ProxySpace/NodeMap.sc
Labels: comp: help

#4050 [classlib] FFT: fix for using regular Buffer
  SCClassLibrary/Common/Audio/FFTUnpacking.sc
Labels: bug, comp: class library

#4272 Shorten pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

#4271 Add new issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

#4275 Fixes/remove unnecessary variables and functions
  QtCollider/widgets/QcWebView.cpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/server/main.cpp
  testsuite/server/supernova/timetag_test.cpp
Labels: comp: build

#4269 scide: Fix missing icon
  editors/sc-ide/core/main.cpp
  editors/sc-ide/widgets/main_window.cpp
Labels: env: SCIDE

#4019 Topic/nrt help rewrite
  HelpSource/Guides/Non-Realtime-Synthesis.schelp
Labels: comp: help

#4219 [SCClassLibrary] Do not load Qt dependent classes on Qt-less builds
  HelpSource/Classes/Platform.schelp
  SCClassLibrary/Common/GUI/Base/Menu.sc
  SCClassLibrary/Common/GUI/Base/QFont.sc
  SCClassLibrary/Common/GUI/Base/QtGUI.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  SCClassLibrary/Platform/Platform.sc
  lang/LangPrimSource/PyrPlatformPrim.cpp
  lang/LangPrimSource/PyrPrimitive.cpp
Labels: comp: class library, comp: sclang
