Repository supercollider/supercollider, pull requests merged in 2019-08, with the labels that each got.

#4328 [scide] [sclang] Make QtWebEngine optional
  HelpSource/Classes/HelpBrowser.schelp
  HelpSource/Classes/WebView.schelp
  QtCollider/CMakeLists.txt
  QtCollider/QcCallback.cpp
  QtCollider/QcCallback.hpp
  QtCollider/factories.cpp
  QtCollider/interface.cpp
  QtCollider/metatype.cpp
  QtCollider/primitives/prim_misc.cpp
  QtCollider/style/ProxyStyle.cpp
  QtCollider/widgets/QcWebView.cpp
  QtCollider/widgets/QcWebView.h
  QtCollider/widgets/web_page.cpp
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/sc_process.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/sc_editor.cpp
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/lookup_dialog.cpp
  editors/sc-ide/widgets/main_window.cpp
  editors/sc-ide/widgets/main_window.hpp
  editors/sc-ide/widgets/style/style.cpp
  editors/sc-ide/widgets/util/WebSocketTransport.cpp
  lang/CMakeLists.txt
Labels: comp: Qt GUI

#4515 scdoc: remove reference to UnitTesting in the Quarks guide
  HelpSource/Guides/UsingQuarks.schelp
Labels: comp: help

#4514 help: update quarks guide
  HelpSource/Guides/UsingQuarks.schelp
Labels: comp: SCDoc

#4473 Update Linux Readme Build Steps
  README_LINUX.md
Labels: comp: project docs, os: Linux

#4267 scide: Find an open port for WebSocket communication with SCDoc rather than hardcoding port 12344
  HelpSource/editor.js
  HelpSource/scdoc.js
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/util/HelpBrowserWebSocketServices.hpp
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Labels: env: SCIDE

#4460 Supernova OSC message ordering
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_plugin_interface.hpp
Labels: comp: supernova

#4500 Only the main window should received a signal when cmd+q is pressed o…
  editors/sc-ide/core/sc_process.cpp
  editors/sc-ide/core/sc_server.cpp
  editors/sc-ide/widgets/main_window.cpp
Labels: env: SCIDE, os: macOS

#4503 Move CONTRIBUTING.md and DEVELOPING.md to the wiki
  CONTRIBUTING.md
  DEVELOPING.md
  README.md
Labels: comp: project docs

#4523 add Platform:*hasQtWebEngine, don't mislead about help browser
  HelpSource/Classes/Platform.schelp
  SCClassLibrary/DefaultLibrary/Main.sc
  SCClassLibrary/Platform/Platform.sc
  lang/LangPrimSource/PyrPlatformPrim.cpp
Labels: comp: Qt GUI, comp: sclang, env: SCIDE

#4516 Fix network socket defaults
  HelpSource/Classes/ServerOptions.schelp
  SCClassLibrary/Common/Control/Server.sc
  server/scsynth/scsynth_main.cpp
  server/supernova/server/server_args.cpp
  testsuite/classlibrary/TestServerOptions.sc
Labels: API change, comp: class library, comp: scsynth

#4520 Help: Pattern Guide: Better explanation of loop sample tempo handling
  HelpSource/Tutorials/A-Practical-Guide/PG_Cookbook05_Using_Samples.schelp
Labels: comp: help

#4488 add missing SIGNAL renderProcessTerminated
  QtCollider/widgets/QcWebView.cpp
Labels: bug, comp: help, qt5

#4539 Classlib: Correct grammar in a Dictionary warning [skip ci]
  SCClassLibrary/Common/Collections/Dictionary.sc
Labels: comp: class library

#4535 Work around build errors on musl libc
  common/SC_Filesystem_unix.cpp
  common/SC_StringBuffer.cpp
  common/sc_popen.cpp
Labels: comp: build

#4475 [scsynth portaudio] allow independent input output devices
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/ServerOptions.schelp
  HelpSource/Guides/AggregateDevice.schelp
  HelpSource/Reference/AudioDeviceSelection.schelp
  HelpSource/Reference/Server-Architecture.schelp
  HelpSource/Tutorials/Getting-Started/03-Start-Your-Engines.schelp
  SCClassLibrary/Common/Control/Server.sc
  include/server/SC_WorldOptions.h
  server/scsynth/SC_PortAudio.cpp
  server/scsynth/scsynth_main.cpp
Labels: comp: scsynth
