Repository supercollider/supercollider, pull requests merged in 2019-06, with the labels that each got.

#4378 Update CODE_OF_CONDUCT.md to fix broken link
  CODE_OF_CONDUCT.md
Labels: comp: help

#4397 Update README_LINUX.md
  README_LINUX.md
Labels: comp: help

#4355 help: clarify Document.autoRun
  HelpSource/Classes/Document.schelp
Labels: comp: help

#4429 clang-format.py: allow program names to be set from env vars
  tools/clang-format.py
Labels: comp: build

#4358 classlib: Remove usage of deprecated method File.openDialog
  SCClassLibrary/Common/Control/Buffer.sc
Labels: bug, comp: class library

#4420 Windows: fix for #4412 - extra SuperCollider directory in Platform.recordingsDir
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Labels: comp: class library

#4406 Classlib: Event: Fix strum, issue #4405
  SCClassLibrary/Common/Collections/Event.sc
Labels: comp: class library

#4423 fix for #4422: use mousewheel angleDelta if pixelDelta not available
  QtCollider/QWidgetProxy.cpp
Labels: comp: Qt GUI

#4390 fix for issue #3924 (Help Browser executing selected code twice)
  editors/sc-ide/widgets/help_browser.cpp
Labels: env: SCIDE

#4374 class library: Deprecate String.scDir
  HelpSource/Classes/String.schelp
  HelpSource/Guides/standalones.schelp
  SCClassLibrary/Common/Collections/String.sc
  SCClassLibrary/Platform/osx/OSXPlatform.sc
  SCClassLibrary/deprecated/3.11/deprecated-3.11.sc
  platform/mac/Standalone Resources/SCClassLibrary/modifyStartup.sc
Labels: API change, comp: class library

#4389 help: correct randomness on signal example
  HelpSource/Guides/Randomness.schelp
Labels: comp: help

#4343 Refactor MixedBundle UnitTest
  testsuite/classlibrary/TestMixedBundle.sc
  testsuite/classlibrary/TestMixedBundle_Server.sc
Labels: comp: test suite

#4383 Fix python3 print statement
  editors/sced/scedwin/py/ScLang.py
  editors/sced/scedwin/py/Settings.py
  testsuite/sclang/launch_test.py
Labels: env: sced

#4443 Help: Correct erroneous copy/paste in Event Types help
  HelpSource/Overviews/Event_types.schelp
Labels: comp: help

#4342 Refactor NodeProxy UnitTests
  testsuite/classlibrary/TestNodeProxy.sc
  testsuite/classlibrary/TestNodeProxy_Server.sc
Labels: comp: test suite

#4369 [lang] Color -asHSV: Achromatic colors return nan
  SCClassLibrary/Common/Core/Color.sc
Labels: comp: class library

#4365 [schelp CSS] Fixes footnotes triggering new lines
  HelpSource/scdoc.css
Labels: comp: SCDoc

#4334 testsuite: Fix TestTempoClock:test_nextTimeOnGrid_negativePhaseWraps
  testsuite/classlibrary/TestTempoClock.sc
Labels: comp: test suite

#4324 Corrected Signal.hammingWindow implementation.
  HelpSource/Classes/Signal.schelp
  SCClassLibrary/Common/Math/Signal.sc
  testsuite/classlibrary/TestSignal.sc
Labels: API change, comp: class library

#4447 Fix compilation with boost-1.67
  server/supernova/utilities/time_tag.hpp
Labels: comp: supernova

#4456 synth: Prevent data from being freed twice in AsyncPlugInCmd
  server/scsynth/SC_SequencedCommand.cpp
Labels: comp: scsynth

#4454 Topic/simplenumber series
  HelpSource/Classes/SimpleNumber.schelp
  lang/LangPrimSource/PyrMathPrim.cpp
  testsuite/classlibrary/TestSimpleNumber.sc
Labels: comp: sclang

#4453 Quarks Doc: remove suggestion to use @refspec in git URL
  HelpSource/Guides/UsingQuarks.schelp
Labels: comp: help
