Repository supercollider/supercollider, pull requests merged in 2020-10, with the labels that each got.

#5185 AppVeyor: temporary workaround for artifact storage limit
  .appveyor.yml
Labels: comp: appveyor

#5182 supernova: fix s_getn
  server/supernova/sc/sc_osc_handler.cpp
Labels: bug, comp: supernova

#5187 cmake: fix deploy of qtwebengine w/ qt 5.15.1
  editors/sc-ide/CMakeLists.txt
Labels: comp: travis

#5186 AppVeyor: temporary workaround for artifact storage limit
  .appveyor.yml
Labels: comp: appveyor

#5174 travis: add legacy macos build and custom Qt version
  .travis.yml
  .travis/before-install-osx.sh
  .travis/package-osx.sh
  editors/sc-ide/CMakeLists.txt
Labels: comp: travis, os: macOS

#5190 add legacy build temporarily
  .travis.yml
  .travis/before-install-osx.sh
  .travis/package-osx.sh
  editors/sc-ide/CMakeLists.txt
Labels: comp: travis

#5192 class library: rebuild proxyspace after copy
  SCClassLibrary/JITLib/ProxySpace/ProxySpace.sc
  testsuite/classlibrary/TestProxySpace.sc
Labels: comp: JITlib

#5193 Merge 3.11 into develop
  server/scsynth/SC_Audio_Android.cpp
  server/scsynth/SC_CoreAudio.h
Labels: organizational

#5131 Docs: Set / SortedList added details regarding equality checks.
  HelpSource/Classes/Set.schelp
  HelpSource/Classes/SortedList.schelp
Labels: comp: help

#5130 make_release.py: add some automation for opening webpages
  .gitignore
  tools/release/git_utilities.py
  tools/release/make_release.py
  tools/release/requirements.txt
  tools/release/utilities.py
Labels: organizational

#5183 Add "lazy equality" |==| operator
  HelpSource/Classes/AbstractFunction.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/Pkey.schelp
  HelpSource/Overviews/Operators.schelp
  SCClassLibrary/Common/Audio/UGen.sc
  SCClassLibrary/Common/Core/AbstractFunction.sc
  SCClassLibrary/Common/Core/Object.sc
  testsuite/classlibrary/TestAbstractFunction.sc
Labels: comp: class library

#5206 cmake: improve FindPortaudio.cmake
  cmake_modules/FindPortaudio.cmake
Labels: comp: build, os: macOS

#5208 scide: restoreDocuments dialog focuses Yes button
  editors/sc-ide/widgets/main_window.cpp
Labels: env: SCIDE

#5207 Merge 3.11 into develop
  .gitignore
  cmake_modules/FindPortaudio.cmake
  tools/release/git_utilities.py
  tools/release/make_release.py
  tools/release/requirements.txt
  tools/release/utilities.py
Labels: organizational

#5209 Update README.md
  README.md
Labels: comp: project docs

#5203 Update AudioDeviceSelection.schelp
  HelpSource/Reference/AudioDeviceSelection.schelp
Labels: comp: help

#4883 Help Browser code execution
  HelpSource/editor.js
  QtCollider/factories.cpp
  QtCollider/widgets/QcWebView.cpp
  QtCollider/widgets/QcWebView.h
  SCClassLibrary/Common/GUI/Base/QWebView.sc
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Labels: env: SCIDE

#5211 servers: include unistd.h when using _POSIX_MEMLOCK macro
  server/scsynth/SC_World.cpp
  server/scsynth/scsynth_main.cpp
  server/supernova/server/main.cpp
Labels: comp: scsynth, comp: supernova

#5214 [3.11] cherry-pick documentation PRs for 3.11.2
  HelpSource/Classes/Dictionary.schelp
  HelpSource/Classes/LFSaw.schelp
  HelpSource/Classes/MIDIFunc.schelp
  HelpSource/Classes/MIDIdef.schelp
  HelpSource/Classes/NotificationCenter.schelp
  HelpSource/Classes/Onsets.schelp
  HelpSource/Classes/Set.schelp
  HelpSource/Classes/SortedList.schelp
  HelpSource/Guides/UsingMIDI.schelp
  HelpSource/Reference/AudioDeviceSelection.schelp
  HelpSource/Tutorials/Getting-Started/10-SynthDefs-and-Synths.schelp
  HelpSource/Tutorials/Getting-Started/11-Busses.schelp
  HelpSource/Tutorials/Getting-Started/15-Sequencing-with-Routines-and-Tasks.schelp
Labels: organizational

#5215 [3.11] Cherry-pick several functional PRs for 3.11.2
  HelpSource/Classes/Pattern.schelp
  SCClassLibrary/Common/Audio/SynthDesc.sc
  SCClassLibrary/Common/Control/Recorder.sc
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  SCClassLibrary/Common/Streams/Patterns.sc
  SCClassLibrary/Common/Streams/TimePatterns.sc
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  SCClassLibrary/JITLib/ProxySpace/ProxySpace.sc
  external_libraries/CMakeLists.txt
  server/supernova/sc/sc_osc_handler.cpp
  testsuite/classlibrary/TestPattern.sc
  testsuite/classlibrary/TestProxySpace.sc
  testsuite/classlibrary/TestServer.sc
  testsuite/classlibrary/TestSynthDescMetadata.sc
Labels: organizational

#5217 server: EnvGen: set endValue for shape \hold
  server/plugins/LFUGens.cpp
  testsuite/classlibrary/TestEnvGen_server.sc
Labels: comp: server plugins

#5219 Prepare for 3.11.2-rc1
  CHANGELOG.md
  README.md
  SCVersion.txt
Labels: comp: project docs, organizational
