Repository supercollider/supercollider, pull requests merged in 2020-05, with the labels that each got.

#4900 cmake: link libsclang against ncurses
  lang/CMakeLists.txt
Labels: comp: build, comp: sclang

#4787 Classlib: PmonoStreams must create a new node after being paused
  SCClassLibrary/Common/Streams/PmonoStreams.sc
  testsuite/classlibrary/TestPmono.sc
Labels: bug, comp: class library

#4291 supernova: enable building JACK API on macOS
  README_MACOS.md
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Labels: comp: build, os: macOS

#4775 classlib: kill both scsynth and supernova with Server -killAll
  HelpSource/Classes/Server.schelp
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: class library

#4793 EnvGen gate < -1 now respects curve
  HelpSource/Classes/EnvGen.schelp
  HelpSource/Classes/Node.schelp
  server/plugins/LFUGens.cpp
  testsuite/classlibrary/TestEnvGen_server.sc
Labels: comp: server plugins

#4908 cmake: update audio API message
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Labels: comp: build

#4336 quarks: Display current branch name in Quarks.gui
  HelpSource/Classes/Git.schelp
  HelpSource/Classes/Quark.schelp
  SCClassLibrary/Common/Quarks/Git.sc
  SCClassLibrary/Common/Quarks/Quark.sc
  SCClassLibrary/Common/Quarks/QuarksGui.sc
Labels: quarks

#4476 supernova: portaudio improvements
  server/supernova/CMakeLists.txt
  server/supernova/audio_backend/portaudio_backend.hpp
  server/supernova/server/main.cpp
  server/supernova/server/server.cpp
  server/supernova/server/server_args.cpp
Labels: comp: supernova

#4911 Name of the default device in ServerOptions
  HelpSource/Reference/Server-Architecture.schelp
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: class library

#4910 sclang: fix spurious out-of-range error
  lang/LangPrimSource/SC_CoreMIDI.cpp
Labels: comp: sclang, os: macOS

#4404 Classlib: Quarks: Print errorString if fetchDirectory failed
  SCClassLibrary/Common/Quarks/Quarks.sc
Labels: comp: class library, quarks

#4905 readme: add platform support info
  README.md
Labels: comp: project docs

#4575 supernova portaudio: fix for requesting number of I/O channels exceeding hardware capabilities
  server/supernova/audio_backend/portaudio_backend.hpp
  server/supernova/server/server.hpp
Labels: comp: supernova

#4917 supernova: ignore non-scsyndef files
  server/supernova/sc/sc_synth_definition.cpp
Labels: comp: supernova

#4919 Merge 3.11 into develop
  README.md
  lang/LangPrimSource/SC_CoreMIDI.cpp
  server/supernova/sc/sc_synth_definition.cpp
Labels: organizational

#4915 servers: print "(default)" when booting with default devices
  server/scsynth/SC_PortAudio.cpp
  server/supernova/server/main.cpp
Labels: comp: scsynth, comp: supernova

#4920 ci: use cache for clang-format
  .travis.yml
  .travis/before-install-linux.sh
Labels: comp: travis

#4922 Merge 3.11 into develop
  .travis.yml
  .travis/before-install-linux.sh
Labels: organizational

#4926 servers: fix unicode support for mingw
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Labels: Work In Progress (WIP) - don't merge yet, comp: build, os: Windows

#4659 Topic/fix pprotect on error
  SCClassLibrary/Common/Streams/Patterns.sc
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  SCClassLibrary/JITLib/Patterns/Pdef.sc
  testsuite/classlibrary/TestCondition.sc
  testsuite/classlibrary/TestErrorHandling.sc
  testsuite/classlibrary/TestPprotect.sc
  testsuite/classlibrary/TestUnitTest.sc
Labels: comp: class library

#4938 Refactor TestBuffer
  testsuite/classlibrary/TestBuffer.sc
  testsuite/classlibrary/TestBuffer_Server.sc
Labels: comp: test suite

#4929 class library: improve suggestions in method not found error
  SCClassLibrary/Common/Core/Error.sc
Labels: comp: class library

#4393 class library: Add setUpClass/tearDownClass features to UnitTest
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  testsuite/classlibrary/TestUnitTest.sc
Labels: comp: class library

#4882 classlib: implement String -runInTerminal on Windows
  SCClassLibrary/Common/Collections/windows/extString_windows.sc
Labels: comp: class library, os: Windows

#4950 add -h and --help to SC Ide executable to show usage, solves #3511
  editors/sc-ide/core/main_function.cpp
Labels: env: SCIDE

#4937 QtCollider: fix method linking
  HelpSource/Classes/WebView.schelp
  QtCollider/widgets/QcWebView.h
  testsuite/classlibrary/TestWebView.sc
Labels: comp: Qt GUI

#4946 Fix assertFloatEquals string formatting
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
Labels: bug, comp: UnitTest

#4951 Server's 'wait' method reimplemented using Condition.
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: scsynth

#4316 ProxySpace:storeOn: Fix initialization of children
  SCClassLibrary/JITLib/ProxySpace/extStoreOn.sc
  testsuite/classlibrary/TestProxySpace.sc
Labels: bug, comp: JITlib

#4934 sclang: remove dead code
  lang/LangPrimSource/PyrArchiver.cpp
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  lang/LangPrimSource/PyrBitPrim.cpp
  lang/LangPrimSource/PyrCharPrim.cpp
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrListPrim.cpp
  lang/LangPrimSource/PyrMathPrim.cpp
  lang/LangPrimSource/PyrPlatformPrim.cpp
  lang/LangPrimSource/PyrSched.cpp
  lang/LangPrimSource/PyrSignalPrim.cpp
  lang/LangPrimSource/PyrStringPrim.cpp
  lang/LangPrimSource/PyrSymbolPrim.cpp
  lang/LangPrimSource/PyrUnixPrim.cpp
Labels: comp: sclang

#4962 Testsuite: Correct Psetpre typo in TestPatternProxy
  testsuite/classlibrary/TestPatternProxy.sc
Labels: bug, comp: test suite

#4963 Merge 3.11 into develop
  HelpSource/Classes/WebView.schelp
  QtCollider/widgets/QcWebView.h
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  lang/LangPrimSource/PyrArchiver.cpp
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  lang/LangPrimSource/PyrBitPrim.cpp
  lang/LangPrimSource/PyrCharPrim.cpp
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrListPrim.cpp
  lang/LangPrimSource/PyrMathPrim.cpp
  lang/LangPrimSource/PyrPlatformPrim.cpp
  lang/LangPrimSource/PyrSched.cpp
  lang/LangPrimSource/PyrSignalPrim.cpp
  lang/LangPrimSource/PyrStringPrim.cpp
  lang/LangPrimSource/PyrSymbolPrim.cpp
  lang/LangPrimSource/PyrUnixPrim.cpp
  testsuite/classlibrary/TestWebView.sc
Labels: organizational

#4953 check for empty string in Object -writeDefFile
  SCClassLibrary/Common/Core/Object.sc
  testsuite/classlibrary/TestObject.sc
Labels: comp: class library

#4941 Adds a warning if scsynth does not boot after 10 seconds on Windows to circumvent #4368
  server/scsynth/scsynth_main.cpp
Labels: comp: scsynth

#4935 sclang: fix mirror/1 behavior on empty array
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  testsuite/classlibrary/TestArray.sc
Labels: comp: sclang

#4972 Merge 3.11 into develop
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  testsuite/classlibrary/TestArray.sc
Labels: organizational

#4936 sclang: fix return value for [x].mirror1
  HelpSource/Classes/Array.schelp
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  testsuite/classlibrary/TestArray.sc
Labels: comp: sclang
