Repository supercollider/supercollider, pull requests merged in 2020-09, with the labels that each got.

#4906 add CI jobs to implement platform support RFC
  .travis.yml
  .travis/before-install-linux.sh
  .travis/before-install-osx.sh
  .travis/before-script-linux.sh
  .travis/before-script-osx.sh
  .travis/script-linux.sh
  CMakeLists.txt
  README_LINUX.md
  README_MACOS.md
  external_libraries/libsndfile/VERSION.txt
  server/supernova/CMakeLists.txt
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/utilities/osc_server.hpp
Labels: comp: build, comp: project docs, comp: travis

#4964 remove unused/outdated windows compat files
  platform/windows/compat_stuff/WSA-pthread-compat-stuff.cpp
  platform/windows/compat_stuff/stdbool.h
  server/plugins/CMakeLists.txt
Labels: enhancement

#5172 Fix typo in LFSaw.schelp
  HelpSource/Classes/LFSaw.schelp
Labels: comp: help

#5171 update qt to 5.15 for Windows x64 builds
  .appveyor.yml
Labels: Work In Progress (WIP) - don't merge yet, comp: appveyor, os: Windows

#4994 classlib: LinuxPlatform: findTerminalEmulator
  HelpSource/Classes/LinuxPlatform.schelp
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/linux/extString_linux.sc
  SCClassLibrary/Platform/linux/LinuxPlatform.sc
Labels: comp: sclang, os: Linux

#5178 cmake: fix deploy of qtwebengine w/ qt 5.15.1
  editors/sc-ide/CMakeLists.txt
Labels: comp: build
