Repository supercollider/supercollider, pull requests merged in 2020-07, with the labels that each got.

#5039 QtCollider:LangClient - event loop deadlock fix - issue #1640
  QtCollider/LanguageClient.cpp
Labels: comp: sclang, qt5

#5042 cmake: when not SC_QT skip install GUI help but not Guides
  CMakeLists.txt
  SCClassLibrary/Common/Quarks/GUI/QuarksGui.sc
  SCClassLibrary/Common/UnitTesting/GUI/UnitTestGUI.sc
  SCClassLibrary/Platform/linux/GUI/LIDGui.sc
Labels: comp: build, comp: help

#5048 Classlib: Fix UGen optimization of (a+b) + (a+b)
  SCClassLibrary/Common/Audio/BasicOpsUGen.sc
  testsuite/classlibrary/TestUGenMathOptimization.sc
Labels: bug, comp: class library

#3733 exclude default paths: change from command line parameter to language file flag
  CMakeLists.txt
  HelpSource/Classes/LanguageConfig.schelp
  SCClassLibrary/Common/Core/LanguageConfig.sc
  build_sclang.cfg.in
  editors/sc-ide/core/sc_process.cpp
  editors/sc-ide/forms/settings_sclang.ui
  editors/sc-ide/widgets/settings/sclang_page.cpp
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_LanguageConfig.hpp
  testsuite/sclang/CMakeLists.txt
Labels: comp: sclang

#5076 [3.11] fix travis failure
  .travis/before-install-osx.sh
Labels: comp: travis

#5077 [develop] fix travis failure
  .travis/before-install-osx.sh
Labels: comp: travis

#5079 cmake: unquote lists (SuperColliderServerPlugin) [skip ci]
  tools/cmake_gen/SuperColliderServerPlugin.cmake
Labels: comp: server plugins

#5045 [skip ci] readmes: include ncurses in dependencies
  README_BEAGLEBONE_BLACK.md
  README_LINUX.md
  README_RASPBERRY_PI.md
Labels: comp: project docs

#5078 Fix args explanation SelectXFocus.schelp
  HelpSource/Classes/SelectXFocus.schelp
Labels: comp: help

#4990 boost_sync: workaround to build with Boost 1.72.0
  external_libraries/boost_sync/include/boost/sync/detail/throw_exception.hpp
Labels: comp: 3rd party, comp: build, waiting for consensus

#4852 kill unresponsive servers on quit
  HelpSource/Classes/Server.schelp
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: class library

#5089 build: renderAllHelp: exclude extensions
  platform/renderAllHelp.scd
Labels: comp: build

#5088 help: fix broken links [skip ci]
  HelpSource/Classes/LinkClock.schelp
  HelpSource/Classes/Platform.schelp
Labels: comp: help

#5087 Merge 3.11 into develop
  HelpSource/editor.js
  README_BEAGLEBONE_BLACK.md
  README_LINUX.md
  README_RASPBERRY_PI.md
  SCClassLibrary/Common/Audio/BasicOpsUGen.sc
  external_libraries/boost_sync/include/boost/sync/detail/throw_exception.hpp
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
  testsuite/classlibrary/TestUGenMathOptimization.sc
  tools/cmake_gen/SuperColliderServerPlugin.cmake
Labels: organizational

#5090 classlib: SCDoc: include extensionDirs only if not excluded by LanguageConfig
  HelpSource/Classes/SCDoc.schelp
  SCClassLibrary/SCDoc/SCDoc.sc
  testsuite/classlibrary/TestSCDoc.sc
Labels: comp: class library

#5093 Platform.tmp crashing on NRT guide
  HelpSource/Guides/Non-Realtime-Synthesis.schelp
Labels: comp: help

#5094 Help: NRT Guide: Replace Platform.defaultTempDir with PathName.tmp
  HelpSource/Guides/Non-Realtime-Synthesis.schelp
Labels: comp: help

#5095 Update CmakeLists.txt for aarch64
  CMakeLists.txt
Labels: comp: build

#5109 help: Main: correct .recompile [skip ci]
  HelpSource/Classes/Main.schelp
Labels: comp: help

#5107 View:font_, change to set 'font' variable
  SCClassLibrary/Common/GUI/Base/QView.sc
  testsuite/classlibrary/TestView.sc
Labels: comp: class library

#4939 Fix getToFloatArray 'count' argument
  SCClassLibrary/Common/Control/Buffer.sc
  testsuite/classlibrary/TestBuffer_Server.sc
Labels: bug, comp: class library

#5114 [skip ci] tools: fix typo in make_release.py
  tools/release/make_release.py
Labels: organizational
