Repository supercollider/supercollider, pull requests merged in 2020-01, with the labels that each got.

#4721 Ndef as code fix fadetime
  SCClassLibrary/JITLib/ProxySpace/extStoreOn.sc
  testsuite/classlibrary/TestNodeProxy.sc
Labels: bug, comp: JITlib

#4461 Topic/nodeproxy bundling queue
  SCClassLibrary/JITLib/ProxySpace/ProxyInterfaces.sc
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
  testsuite/classlibrary/TestNodeProxy_Server.sc
Labels: bug, comp: class library

#4481 [classlib] increase maxAttempts for tcp connection to the server
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: supernova

#4706 Versioning reform
  CMakeLists.txt
  HelpSource/Classes/Main.schelp
  HelpSource/Reference/Server-Command-Reference.schelp
  SCClassLibrary/DefaultLibrary/Main.sc
  SCClassLibrary/deprecated/3.10/Main.sc
  SCVersion.txt
  cmake_modules/MacOSXBundleInfo.plist.in
  common/SC_Version.hpp.in
  editors/sced/sced3/supercollider.plugin.in
  lang/LangPrimSource/PyrPrimitive.cpp
  platform/windows/CMakeLists.txt
  server/scsynth/SC_MiscCmds.cpp
  server/supernova/sc/sc_osc_handler.cpp
  testsuite/classlibrary/TestMain.sc
  tools/cmake_gen/CMakeLists_header.template
Labels: comp: build, comp: class library, comp: help

#4722 classlib-unittest: fix/clarify runAll for UnitTest subclasses
  HelpSource/Classes/UnitTest.schelp
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
Labels: comp: UnitTest, comp: class library

#4548 help browser: ignore certain tokens when matching parens
  HelpSource/editor.js
Labels: comp: SCDoc

#4484 LinkClock quantum handling and meter sync
  HelpSource/Classes/LinkClock.schelp
  HelpSource/Classes/MeterSync.schelp
  SCClassLibrary/Common/Control/MeterSync.sc
  SCClassLibrary/External/Ableton/LinkClock.sc
  lang/LangPrimSource/SC_LinkClock.cpp
  lang/LangPrimSource/SC_LinkClock.hpp
  testsuite/classlibrary/TestLinkClock.sc
Labels: comp: class library, enhancement

#4677 remove ignored consts
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_LanguageConfig.hpp
Labels: comp: sclang

#4639 Move RPi and BeagleBone readmes into the main repository
  README.md
  README_BEAGLEBONE_BLACK.md
  README_RASPBERRY_PI.md
Labels: comp: project docs, waiting on release - do not merge

#4582 Fix Document.initAction to fire when opening from the IDE
  HelpSource/Classes/Document.schelp
  SCClassLibrary/scide_scqt/ScIDE.sc
  testsuite/classlibrary/TestDocument.sc
Labels: comp: class library

#4678 Deprecate -plotColors
  HelpSource/Classes/Plotter.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
  SCClassLibrary/deprecated/3.10/Plotter.sc
  testsuite/classlibrary/TestPlotter.sc
Labels: comp: class library

#4744 Windows readme: fix broken footnote
  README_WINDOWS.md
Labels: comp: project docs

#4704 testsuite: remove failing supernova tests
  testsuite/server/supernova/CMakeLists.txt
  testsuite/server/supernova/perf_counter_test.cpp
  testsuite/server/supernova/server_test.cpp
Labels: comp: supernova, comp: test suite

#4745 Use nullptr
  lang/LangPrimSource/OSCData.cpp
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrListPrim.cpp
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangPrimSource/PyrSched.cpp
  lang/LangPrimSource/PyrSerialPrim.cpp
  lang/LangPrimSource/PyrStringPrim.cpp
  lang/LangPrimSource/PyrUnixPrim.cpp
  lang/LangPrimSource/SC_AlsaMIDI.cpp
  lang/LangPrimSource/SC_HID_api.cpp
  lang/LangPrimSource/SC_LID.cpp
  lang/LangSource/AdvancingAllocPool.cpp
  lang/LangSource/ByteCodeArray.cpp
  lang/LangSource/GC.cpp
  lang/LangSource/InitAlloc.cpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrMessage.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSymbolTable.cpp
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_TerminalClient.cpp
  lang/LangSource/SimpleStack.cpp
  lang/LangSource/VMGlobals.cpp
  lang/LangSource/dumpByteCodes.cpp
  server/scsynth/Rendezvous.cpp
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_Group.cpp
  server/scsynth/SC_Jack.cpp
  server/scsynth/SC_Lib_Cintf.cpp
  server/scsynth/SC_MiscCmds.cpp
  server/scsynth/SC_Node.cpp
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_UnitDef.cpp
  server/scsynth/SC_World.cpp
  server/scsynth/scsynth_main.cpp
Labels: comp: sclang, comp: scsynth

#4646 [sclang][win] Fix hang on Windows - read from stdin synchronously before starting
  lang/LangSource/SC_TerminalClient.cpp
Labels: bug, comp: sclang, os: Windows

#4742 List audio devices on Windows
  HelpSource/Classes/ServerOptions.schelp
  HelpSource/Reference/AudioDeviceSelection.schelp
  common/SC_PaUtils.cpp
  common/SC_PaUtils.hpp
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangPrimSource/SC_AudioDevicePrim.cpp
  lang/LangPrimSource/SC_AudioDevicePrim.hpp
Labels: comp: sclang

#4690 class library: fix def proxy dup
  SCClassLibrary/JITLib/Patterns/Pdef.sc
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
  testsuite/classlibrary/TestNodeProxy.sc
Labels: bug, comp: sclang

#4747 Fix bad variable name in clang-format.py
  tools/clang-format.py
Labels: comp: other

#4732 classlib: fix helpfile examples for Image class
  HelpSource/Classes/Image.schelp
Labels: comp: Qt GUI, comp: help
