Repository supercollider/supercollider, pull requests merged in 2020-04, with the labels that each got.

#4847 Appveyor: workaround for storage limit
  .appveyor.yml
Labels: comp: appveyor

#4840 Removing legacy package scripts
  package/OPTIONALS_README_OSX.rtf
  package/OPTIONALS_README_SOURCE.txt
  package/USAGE
  package/dmg_with_optionals.ds_store
  package/dmg_without_optionals.ds_store
  package/git-archive-all.py
  package/git-archive-all.sh
  package/package
  package/pkg-dmg
Labels: comp: build

#4851 3.11 -> develop
  .appveyor.yml
  .gitignore
  HelpSource/Classes/Button.schelp
  HelpSource/Classes/Collection.schelp
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/TreeView.schelp
  HelpSource/Classes/TreeViewItem.schelp
  HelpSource/Classes/View.schelp
  HelpSource/Guides/UsingQuarks.schelp
  HelpSource/Tutorials/JITLib/recursive_phrasing.schelp
  QtCollider/QcApplication.cpp
  SCClassLibrary/Common/Control/GraphBuilder.sc
  examples/other/quines.scd
  package/OPTIONALS_README_OSX.rtf
  package/OPTIONALS_README_SOURCE.txt
  package/USAGE
  package/create_source_tarball.sh
  package/dmg_with_optionals.ds_store
  package/dmg_without_optionals.ds_store
  package/git-archive-all.py
  package/git-archive-all.sh
  package/package
  package/pkg-dmg
  testsuite/classlibrary/TestNamedControl.sc
Labels: organizational

#4833 cherry pick 4459
  HelpSource/Classes/Plotter.schelp
  HelpSource/Guides/Tour-of-Special-Functions.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
  testsuite/classlibrary/TestPlotter.sc
Labels: organizational

#4583 Use fftw in supernova on macos
  .travis/before-install-osx.sh
  README_MACOS.md
  common/SC_fftlib.cpp
  editors/sc-ide/CMakeLists.txt
  server/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Labels: comp: build, comp: supernova, os: macOS

#4802 classlib: fix SimpleNumber asTimeString for negative values
  SCClassLibrary/Common/Math/SimpleNumber.sc
  testsuite/classlibrary/TestSimpleNumber.sc
Labels: bug, comp: class library

#4479 [scsynth:windows] support unicode in argv
  server/scsynth/scsynth_main.cpp
Labels: comp: scsynth, os: Windows

#4861 appveyor: make s3 artefacts readable
  .appveyor.yml
Labels: comp: appveyor

#4846 HiDPI fractional scaling: remove rounding to int
  QtCollider/widgets/QcCanvas.cpp
Labels: comp: Qt GUI

#4850 Qt: AA_EnableHighDpiScaling flags
  QtCollider/interface.cpp
  editors/sc-ide/core/main_function.cpp
Labels: comp: Qt GUI, env: SCIDE, os: Windows

#4862 CI: use qt 5.14 in builds, switch to VS 2019
  .appveyor.yml
  .travis/before-install-osx.sh
Labels: comp: appveyor, comp: travis

#4854 docs: Update "Getting Started" 01 and 02
  HelpSource/Tutorials/Getting-Started/01-Introductory-Remarks.schelp
  HelpSource/Tutorials/Getting-Started/02-First-Steps.schelp
Labels: comp: help

#4863 servers: better explain UDP/TCP port binding fail
  HelpSource/Guides/Understanding-Errors.schelp
  server/scsynth/SC_ComPort.cpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/server/main.cpp
  server/supernova/server/server.cpp
Labels: comp: scsynth, comp: supernova

#4468 [classlib] add fuzzy array comparisons
  HelpSource/Classes/SequenceableCollection.schelp
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  lang/LangPrimSource/SC_Levenshtein.h
  lang/LangSource/PyrSlot32.h
  lang/LangSource/PyrSlot64.h
  testsuite/classlibrary/TestArray.sc
  testsuite/classlibrary/TestString.sc
Labels: comp: class library, comp: sclang, enhancement

#4875 classlib: move plotter deprecation into GUI subfolder
  SCClassLibrary/deprecated/3.10/GUI/Plotter.sc
Labels: comp: class library

#4876 supernova: support unicode in argv on windows
  server/supernova/server/main.cpp
Labels: comp: supernova, os: Windows

#4880 classlib: fix String -runInTerminal
  SCClassLibrary/Common/Collections/osx/extString_osx.sc
Labels: comp: class library, os: macOS

#4885 [CI] additions to #4749
  .travis/qpm-prep.sh
  testsuite/classlibrary/TestAbstractFunction.sc
Labels: comp: travis

#4865 cherry-pick 3.11.1 PRs
  .travis/before-install-osx.sh
  CMakeLists.txt
  HelpSource/Classes/LFCub.schelp
  HelpSource/Classes/LFPar.schelp
  HelpSource/Classes/LFTri.schelp
  HelpSource/Classes/Pdiff.schelp
  HelpSource/Classes/Pdrop.schelp
  HelpSource/Classes/Pfindur.schelp
  HelpSource/Classes/Psync.schelp
  QtCollider/interface.cpp
  QtCollider/widgets/QcCanvas.cpp
  README_MACOS.md
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/Common/Math/SimpleNumber.sc
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  SCClassLibrary/JITLib/Patterns/Pdef.sc
  common/SC_fftlib.cpp
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/core/main_function.cpp
  include/plugin_interface/SC_PlugIn.hpp
  server/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/scsynth/scsynth_main.cpp
  server/supernova/CMakeLists.txt
  testsuite/classlibrary/TestPattern.sc
  testsuite/classlibrary/TestSimpleNumber.sc
Labels: organizational

#4884 TextView: enter interprets selection fix
  QtCollider/widgets/QcTextEdit.cpp
Labels: bug, comp: Qt GUI

#4881 Update Pipe.schelp
  HelpSource/Classes/Pipe.schelp
Labels: comp: help

#4886 docs: remove notes about outdated macOS versions
  HelpSource/Classes/Pen.schelp
  HelpSource/Classes/SCImage.schelp
  HelpSource/Classes/UserView.schelp
Labels: comp: help

#4888 [Help] fix error in tryPerform example
  HelpSource/Classes/Object.schelp
Labels: comp: help

#4866 classlib: provide suggested fixes for method name typos
  HelpSource/Classes/DoesNotUnderstandError.schelp
  SCClassLibrary/Common/Core/Error.sc
  testsuite/classlibrary/TestDoesNotUnderstandError.sc
Labels: comp: class library, enhancement
