Repository supercollider/supercollider, pull requests merged in 2020-03, with the labels that each got.

#4459 [classlib] Plotter: add multiple concurrent modes
  HelpSource/Classes/Plotter.schelp
  HelpSource/Guides/Tour-of-Special-Functions.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
  testsuite/classlibrary/TestPlotter.sc
Labels: comp: class library

#4782 class library: improve readability and fix inline warnings
  SCClassLibrary/Common/Audio/SynthDef.sc
Labels: bug, comp: class library

#4312 class library: do not convert value before rate check
  SCClassLibrary/JITLib/ProxySpace/NodeMap.sc
  testsuite/classlibrary/TestNodeProxy.sc
Labels: comp: JITlib

#4789 ENVGEN_NOT_STARTED check moved after check for mDone in 3.11
  server/plugins/LFUGens.cpp
Labels: comp: server plugins

#4778 Fix spelling errors
  QtCollider/QtDownload.h
  editors/sc-ide/translations/scide_de.ts
  editors/sc-ide/translations/scide_es.ts
  editors/sc-ide/translations/scide_fr.ts
  editors/sc-ide/translations/scide_ja.ts
  editors/sc-ide/translations/scide_pt.ts
  editors/sc-ide/translations/scide_ru.ts
  editors/sc-ide/translations/scide_sl.ts
  editors/sc-ide/translations/scide_sv.ts
  editors/sc-ide/translations/scide_zh.ts
  editors/sc-ide/widgets/main_window.cpp
  external_libraries/TLSF-2.4.6/COPYING
  lang/LangPrimSource/PyrSymbolPrim.cpp
  server/scsynth/scsynth_main.cpp
  server/supernova/server/server_args.cpp
Labels: comp: project docs

#4796 Added/Corrected phase documentation
  HelpSource/Classes/LFCub.schelp
  HelpSource/Classes/LFPar.schelp
  HelpSource/Classes/LFTri.schelp
Labels: comp: help

#4792 Topic/fix pdef clear using Psync
  HelpSource/Classes/Pfindur.schelp
  HelpSource/Classes/Psync.schelp
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  SCClassLibrary/JITLib/Patterns/Pdef.sc
  testsuite/classlibrary/TestPattern.sc
Labels: comp: class library

#4786 optimize degrad/raddeg
  SCClassLibrary/Common/Audio/UGen.sc
  SCClassLibrary/Common/Math/SimpleNumber.sc
Labels: comp: class library

#4804 build: hide boost warnings
  CMakeLists.txt
Labels: comp: build

#4824 travis: add https to clang download URL
  .travis/before-install-linux.sh
Labels: comp: travis

#4825 SCVersion: bump to 3.11.0
  SCVersion.txt
Labels: comp: build

#4819 cmake: Better help for users new to submodules.
  external_libraries/CMakeLists.txt
Labels: comp: build

#4828 master -> develop (3.11.0 release)
  .travis/before-install-linux.sh
  CHANGELOG.md
  HelpSource/Guides/News-3_11.schelp
  HelpSource/Help.schelp
  SCVersion.txt
Labels: organizational

#4762 Added a short help file for class Pdiff
  HelpSource/Classes/Pdiff.schelp
  HelpSource/Classes/Pdrop.schelp
Labels: comp: help

#4810 scide: Reinstate translations files in distributions.
  editors/sc-ide/CMakeLists.txt
Labels: env: SCIDE

#4827 examples: use OSCFunc in quines
  examples/other/quines.scd
Labels: comp: examples

#4836 Devendor ableton link
  CMakeLists.txt
  lang/CMakeLists.txt
Labels: comp: build

#4838 Topic/help fixes and examples
  HelpSource/Classes/Button.schelp
  HelpSource/Classes/Collection.schelp
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/TreeView.schelp
  HelpSource/Classes/TreeViewItem.schelp
  HelpSource/Classes/View.schelp
  HelpSource/Guides/UsingQuarks.schelp
  HelpSource/Tutorials/JITLib/recursive_phrasing.schelp
Labels: comp: SCDoc

#4837 Release tarball script
  .gitignore
  package/create_source_tarball.sh
Labels: organizational

#4821 QT GUI: close window with cmd-w on macos
  QtCollider/QcApplication.cpp
Labels: comp: Qt GUI, os: macOS

#4832 classlib: Make EnvironmentRedirect work as EnvirGui's object
  SCClassLibrary/Common/Collections/EnvironmentRedirect.sc
  SCClassLibrary/JITLib/GUI/EnvirGui.sc
Labels: comp: JITlib

#4817 classlib: Fix NamedControl spec arg (if nil, do not overwrite metadata)
  SCClassLibrary/Common/Control/GraphBuilder.sc
  testsuite/classlibrary/TestNamedControl.sc
Labels: bug, comp: class library

#4815 class library: Pfset - do cleanup on nil stream
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  testsuite/classlibrary/TestPattern.sc
Labels: comp: class library

#4839 Return plotter in AbstractFunction:plotGraph
  HelpSource/Classes/AbstractFunction.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: API change, comp: class library
