Repository supercollider/supercollider, pull requests merged in 2020-08, with the labels that each got.

#5116 [skip ci] readme: update platform support guarantees
  README.md
Labels: comp: project docs

#5115 [3.11] cherry-pick 3.11.1 PRs
  CMakeLists.txt
  HelpSource/Guides/Non-Realtime-Synthesis.schelp
  SCClassLibrary/Common/GUI/Base/QView.sc
  testsuite/classlibrary/TestView.sc
Labels: organizational

#5117 Bump project version to 3.11.1-rc1
  SCVersion.txt
Labels: organizational

#5120 [Release] appveyor: undo temporary storage limit workaround to prepare for release
  .appveyor.yml
Labels: comp: appveyor

#5118 [Release] Update changelog for 3.11.1
  CHANGELOG.md
Labels: organizational

#4909 supernova: use system clock by default
  HelpSource/Classes/ServerOptions.schelp
  SCClassLibrary/Common/Control/Server.sc
  server/supernova/server/server_args.cpp
Labels: comp: supernova

#4973 class library: PanAz: initialize amps in Ctor
  server/plugins/PanUGens.cpp
  testsuite/classlibrary/TestPanAz.sc
Labels: comp: server plugins

#5113 Classlib: Fix Pfindur bug where the last event could lose its Rest status
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  testsuite/classlibrary/TestPattern.sc
Labels: bug, comp: class library

#5031 classlib: Pattern.record correctly set header and sample formats
  HelpSource/Classes/Pattern.schelp
  SCClassLibrary/Common/Streams/Patterns.sc
Labels: comp: sclang

#5135 Test suite: Fix printed output of assertFloatEquals
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
Labels: comp: UnitTest

#5141 docs: Fix broken link to research paper.
  HelpSource/Classes/Onsets.schelp
Labels: comp: help

#5137 Help: [skip ci] Getting Started should model correct use of 'out' arg
  HelpSource/Tutorials/Getting-Started/10-SynthDefs-and-Synths.schelp
  HelpSource/Tutorials/Getting-Started/11-Busses.schelp
  HelpSource/Tutorials/Getting-Started/15-Sequencing-with-Routines-and-Tasks.schelp
Labels: comp: help

#5136 Help: [skip ci] Using MIDI guide: Explain MIDIFunc/MIDIdef filtering
  HelpSource/Classes/MIDIFunc.schelp
  HelpSource/Classes/MIDIdef.schelp
  HelpSource/Guides/UsingMIDI.schelp
Labels: comp: help

#5122 SynthDesc and SynthDescLib should restore metadata to their SynthDefs too
  SCClassLibrary/Common/Audio/SynthDesc.sc
  testsuite/classlibrary/TestSynthDescMetadata.sc
Labels: bug, comp: class library

#5142 docs: improve NotificationCenter documentation
  HelpSource/Classes/NotificationCenter.schelp
Labels: comp: help

#5147 [release] merge master into develop
  CHANGELOG.md
  SCVersion.txt
Labels: organizational

#4975 Remove dead android-related code
  server/scsynth/SC_Audio_Android.cpp
  server/scsynth/SC_CoreAudio.h
Labels: comp: scsynth

#5145 Classlib: Pseg embedInStream should return 'inval'
  SCClassLibrary/Common/Streams/TimePatterns.sc
  testsuite/classlibrary/TestPattern.sc
Labels: bug, comp: class library

#4366 Document:getText fixes
  HelpSource/Classes/Document.schelp
  SCClassLibrary/scide_scqt/ScIDE.sc
  testsuite/classlibrary/TestDocument.sc
Labels: bug, comp: class library, env: SCIDE
