Repository supercollider/supercollider, pull requests merged in 2020-02, with the labels that each got.

#4760 add tests for PR 4436
  testsuite/classlibrary/TestEnvGen_server.sc
Labels: comp: UnitTest

#4761 Fix NamedControl 'name' String convertion
  SCClassLibrary/Common/Control/GraphBuilder.sc
Labels: bug, comp: class library

#4713 SCDoc: use vector for recursive function
  SCDoc/SCDoc.cpp
  SCDoc/SCDoc.h
Labels: comp: SCDoc

#4504 [scsynth][supernova] fix Windows not guarding denormals
  server/scsynth/SC_World.cpp
  server/supernova/server/server.cpp
Labels: bug, comp: scsynth, comp: supernova

#3814 Topic/synthdef specs improvements
  HelpSource/Classes/ControlName.schelp
  HelpSource/Classes/NamedControl.schelp
  HelpSource/Classes/NodeProxy.schelp
  HelpSource/Classes/Symbol.schelp
  HelpSource/Classes/SynthDef.schelp
  HelpSource/Classes/SynthDesc.schelp
  SCClassLibrary/Common/Audio/InOut.sc
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/Common/Audio/SynthDesc.sc
  SCClassLibrary/Common/Audio/UGen.sc
  SCClassLibrary/Common/Control/GraphBuilder.sc
  SCClassLibrary/Common/Control/Spec.sc
  SCClassLibrary/Common/Core/Symbol.sc
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
  SCClassLibrary/JITLib/ProxySpace/ProxyInterfaces.sc
  testsuite/classlibrary/TestControlSpec.sc
Labels: comp: class library

#4599 SC_JACK repair
  server/scsynth/SC_Jack.cpp
Labels: bug, comp: scsynth

#4764 CMake: fix linking with makefiles+supernova+macos
  testsuite/server/supernova/CMakeLists.txt
Labels: comp: build

#4710 plugin intf: fix compile error, change type of arg to bool
  include/plugin_interface/SC_PlugIn.hpp
Labels: comp: server plugins

#4784 [scsynth][supernova] fix boost_simd preprocessor directives
  server/scsynth/SC_World.cpp
  server/supernova/server/server.cpp
Labels: bug, comp: scsynth, comp: supernova
