Repository supercollider/supercollider, pull requests merged in 2020-06, with the labels that each got.

#4983 Fix boost 1.73.0 support
  external_libraries/oscpack_build.cpp
Labels: comp: 3rd party

#4987 Add tools/release/make_release.py
  tools/release/make_release.py
Labels: organizational

#4984 Add warning when windows defender delays supernova boot
  common/SC_ServerBootDelayWarning.cpp
  common/SC_ServerBootDelayWarning.h
  server/scsynth/CMakeLists.txt
  server/scsynth/scsynth_main.cpp
  server/supernova/CMakeLists.txt
  server/supernova/server/main.cpp
Labels: comp: scsynth, comp: supernova

#4986 Build fixes for Qt 5.15
  QtCollider/primitives/prim_QPen.cpp
  QtCollider/widgets/QcGraph.cpp
  QtCollider/widgets/QcLevelIndicator.cpp
  QtCollider/widgets/QcMultiSlider.cpp
  QtCollider/widgets/QcScopeShm.cpp
  QtCollider/widgets/soundfileview/view.cpp
Labels: comp: build

#4988 Topic/improve doc for remote servers
  HelpSource/Classes/Server.schelp
  HelpSource/Guides/Server-Guide.schelp
Labels: comp: help

#4995 docs: operators: UGens pow of negative value [skip ci]
  HelpSource/Overviews/Operators.schelp
Labels: comp: help

#4932 Add keydown actions to resize the HelpBrowser
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Labels: comp: Qt GUI, enhancement

#4993 appveyor: don't push PR artifacts to S3 storage
  .appveyor.yml
Labels: comp: appveyor

#4868 Update "Getting Started" chapter 3
  HelpSource/Tutorials/Getting-Started/03-Start-Your-Engines.schelp
Labels: comp: help

#5002 Fix TWindex 'sum' initialization bug
  HelpSource/Classes/TWindex.schelp
  server/plugins/OscUGens.cpp
  testsuite/classlibrary/TestTWindex.sc
Labels: bug, comp: server plugins

#4903 sc class library: TaskProxy: play on instances' clock if no argClock
  HelpSource/Classes/EventPatternProxy.schelp
  HelpSource/Classes/Pdef.schelp
  HelpSource/Classes/TaskProxy.schelp
  HelpSource/Classes/Tdef.schelp
  SCClassLibrary/JITLib/Patterns/Pdef.sc
  testsuite/classlibrary/TestEventPatternProxy.sc
  testsuite/classlibrary/TestTaskProxy.sc
Labels: Work In Progress (WIP) - don't merge yet, comp: class library

#5000 sclang: Ugen: composeBinaryOp add missing ^
  SCClassLibrary/Common/Audio/UGen.sc
  testsuite/classlibrary/TestComplex.sc
Labels: comp: sclang

#4960 return early after first path separator in splitext
  SCClassLibrary/Common/Collections/String.sc
  testsuite/classlibrary/TestString.sc
Labels: comp: class library

#5023 REAMDE: update slack link
  README.md
Labels: comp: project docs

#5028 docs: fix MenuAction typo
  HelpSource/Classes/MenuAction.schelp
Labels: comp: help
