Repository supercollider/supercollider, pull requests merged in 2021-02, with the labels that each got.

#5275 Classlib: Pattern:record should sync recording synth to pattern synths
  SCClassLibrary/Common/Streams/Patterns.sc
Labels: comp: class library

#4947 add a warning about nil in Dictionary help
  HelpSource/Classes/Dictionary.schelp
Labels: comp: help

#5295 Added Bela support
  .gitignore
  CMakeLists.txt
  HelpSource/Classes/AnalogIn.schelp
  HelpSource/Classes/AnalogOut.schelp
  HelpSource/Classes/Array.schelp
  HelpSource/Classes/BelaScope.schelp
  HelpSource/Classes/BelaScopeOut.schelp
  HelpSource/Classes/Bus.schelp
  HelpSource/Classes/DigitalIO.schelp
  HelpSource/Classes/DigitalIn.schelp
  HelpSource/Classes/DigitalOut.schelp
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/MultiplexAnalogIn.schelp
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/UGen.schelp
  README_BELA.md
  SCClassLibrary/Common/Audio/Bela/BelaScope.sc
  SCClassLibrary/Common/Audio/Bela/BelaUGens.sc
  SCClassLibrary/Common/Control/BelaServerOptions.sc
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Platform/Platform.sc
  cmake_modules/FindBela.cmake
  cmake_modules/FindXenomai.cmake
  common/SC_Lock.h
  common/SC_SyncCondition.h
  common/XenomaiLock.cpp
  common/XenomaiLock.h
  examples/Bela/bela_example_analogin.scd
  examples/Bela/bela_example_analogin_2.scd
  examples/Bela/bela_example_analogout.scd
  examples/Bela/bela_example_digital.scd
  examples/Bela/bela_example_digitalio.scd
  examples/Bela/bela_example_digitalout.scd
  examples/Bela/bela_start_scsynth.scd
  examples/Bela/bela_test_cases.scd
  include/plugin_interface/SC_BelaScope.h
  include/plugin_interface/SC_World.h
  include/server/SC_WorldOptions.h
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPlatformPrim.cpp
  server/plugins/BelaUGens.cpp
  server/plugins/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/scsynth/SC_Bela.cpp
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_CoreAudio.h
  server/scsynth/SC_HiddenWorld.h
  server/scsynth/SC_World.cpp
  server/scsynth/scsynth_main.cpp
  server/supernova/CMakeLists.txt
Labels: architecture: arm, comp: 3rd party, comp: build

#5332 GitHub Actions: add test suite
  .github/workflows/actions.yml
  testsuite/classlibrary/TestAbstractFunction.sc
  testsuite/classlibrary/TestOSCBundle.sc
  testsuite/classlibrary/TestSanitize.sc
  testsuite/classlibrary/TestServer.sc
  testsuite/scripts/gha_test_run_proto.json
  testsuite/scripts/run/.gitignore
Labels: comp: CI/CD, comp: test suite

#5351 Help: TempoClock:beatsPerBar, explain "scheduling thread" better
  HelpSource/Classes/TempoClock.schelp
Labels: comp: help

#5356 macOS info.plist: add microphone access prompt
  cmake_modules/MacOSXBundleInfo.plist.in
Labels: comp: build, os: macOS

#5358 Big Sur patches for 3.11
  .github/workflows/actions-macos.yml
  cmake_modules/MacOSXBundleInfo.plist.in
  server/scsynth/SC_CoreAudio.cpp
Labels: os: macOS

#5327 Linux packaging: Install icons into share/icons/hicolor/*
  platform/linux/CMakeLists.txt
Labels: os: Linux

#5362 cmake: disable codesigning on macos
  .github/workflows/actions.yml
  CMakeLists.txt
Labels: comp: build, os: macOS

#5354 docs: fix array typo
  HelpSource/Classes/Array.schelp
Labels: comp: help

#4890 [scide] fix classname highlighting
  editors/sc-ide/core/sc_introspection.cpp
  editors/sc-ide/core/sc_introspection.hpp
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/highlighter.cpp
  editors/sc-ide/widgets/lookup_dialog.cpp
Labels: enhancement, env: SCIDE

#4889 [docs] add note about comparing Nil and nil
  HelpSource/Classes/Nil.schelp
Labels: comp: help

#5369 doc: clarify syntactic shortcuts in Pbind documentation
  HelpSource/Classes/Pbind.schelp
Labels: comp: help

#5371 GitHub Actions: add deployment to GH releases and S3
  .github/workflows/actions.yml
Labels: comp: CI/CD

#5372 Farewell, Travis.
  .travis.yml
  .travis/before-install-linux.sh
  .travis/before-install-osx.sh
  .travis/before-script-linux.sh
  .travis/before-script-osx.sh
  .travis/lint.sh
  .travis/package-osx.sh
  .travis/qpm-prep.sh
  .travis/qpm-test.sh
  .travis/script-linux.sh
  .travis/script-osx.sh
  .travis/test.sh
  travis_test_run_proto.json
Labels: comp: CI/CD, comp: travis

#5374 README.md: update CI badge for GHA
  README.md
Labels: comp: project docs
