Repository supercollider/supercollider, pull requests merged in 2021-08, with the labels that each got.

#5514 docs: modify description of pmindex argument
  HelpSource/Classes/PMOsc.schelp
Labels: comp: help

#5304 test: add test for audio rate controls
  testsuite/classlibrary/TestSynthMapping.sc
Labels: comp: testing

#5537 Build libsndfile's dependencies and change DMG filesystem
  .github/workflows/actions.yml
Labels: os: macOS, comp: CI/CD

#5539 Update errors and outdated usages in Control Structures help
  HelpSource/Reference/Control-Structures.schelp
Labels: comp: help
