Repository supercollider/supercollider, pull requests merged in 2021-05, with the labels that each got.

#5436 Add CondVar redux
  HelpSource/Classes/CondVar.schelp
  SCClassLibrary/Common/Core/CondVar.sc
  testsuite/classlibrary/TestCondVar.sc
Labels: comp: class library

#5438 [scide] Fix classname highlighting before introspection available
  editors/sc-ide/widgets/code_editor/highlighter.cpp
  editors/sc-ide/widgets/code_editor/highlighter.hpp
Labels: bug, env: SCIDE

#5439 GHA: run hdiutil again if it fails
  .github/workflows/actions.yml
Labels: comp: CI/CD

#5445 docs: fix slider example indentation [skip ci]
  HelpSource/Classes/Slider.schelp
Labels: comp: help

#5428 Docs: ArrayedCollections / SequencableCollections clarified
  HelpSource/Classes/ArrayedCollection.schelp
  HelpSource/Classes/SequenceableCollection.schelp
Labels: comp: help

#5449 build system: fix path to libgcc v 11
  editors/sc-ide/CMakeLists.txt
Labels: comp: build

#5456 Fix data race in CondVar timeout
  SCClassLibrary/Common/Core/CondVar.sc
Labels: bug, comp: class library

#5458 github actions: differentiate deployment target on macOS
  .github/workflows/actions.yml
Labels: comp: CI/CD, os: macOS

#5457 Use CondVar instead of UnitTest.wait in tests
  HelpSource/Classes/UnitTest.schelp
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  testsuite/classlibrary/TestCoreUGens.sc
  testsuite/classlibrary/TestDocument.sc
  testsuite/classlibrary/TestEnvGen_server.sc
  testsuite/classlibrary/TestFilterUGens.sc
  testsuite/classlibrary/TestNode_Server.sc
  testsuite/classlibrary/TestOSCBundle.sc
  testsuite/classlibrary/TestPprotect.sc
  testsuite/classlibrary/TestSanitize.sc
  testsuite/classlibrary/TestServer.sc
  testsuite/classlibrary/TestServer_boot.sc
  testsuite/classlibrary/TestUnitTest.sc
  testsuite/classlibrary/TestWebView.sc
  testsuite/classlibrary/server/TestMixedBundleTester.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: comp: class library, comp: testing

#5462 DMG: add background
  .github/workflows/actions.yml
  package/background_2.png
  package/background_2.xcf
  package/background_2_arrow.png
  package/ds_store
Labels: comp: CI/CD, os: macOS

#5460 Fix bad argTemplate in Buffer.getn
  SCClassLibrary/Common/Control/Buffer.sc
  testsuite/classlibrary/TestBuffer_Server.sc
Labels: comp: class library

#5466 Fix Documentation to BPF Q Parameter
  HelpSource/Classes/BPF.schelp
Labels: comp: help

#5465 Update GUI-Introduction.schelp
  HelpSource/Guides/GUI-Introduction.schelp
Labels: comp: help

#5461 Fix test setUpClass and tearDownClass not being called
  .github/workflows/actions.yml
  SCClassLibrary/Common/UnitTesting/UnitTest.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: bug, comp: class library, comp: testing
