Repository supercollider/supercollider, pull requests merged in 2021-06, with the labels that each got.

#5454 macos: clip output values on supernova
  SCClassLibrary/Common/Control/Server.sc
  server/supernova/audio_backend/portaudio_backend.hpp
  server/supernova/server/main.cpp
  server/supernova/server/server_args.cpp
  server/supernova/server/server_args.hpp
Labels: comp: supernova, os: macOS, scsynth-supernova incompatibility

#5467 gha macos: run hdiutil again if it fails
  .github/workflows/actions.yml
Labels: comp: CI/CD, os: macOS

#5474 Made Supernova bind to the specified address, instead of always liste…
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/ServerOptions.schelp
  common/server_shm.hpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/server/server.cpp
  server/supernova/server/server_args.cpp
  server/supernova/server/server_args.hpp
Labels: comp: supernova, scsynth-supernova incompatibility

#5451 Fixed LTO builds failing due to incorrect flags.
  lang/CMakeLists.txt
Labels: comp: build
