Repository supercollider/supercollider, pull requests merged in 2022-07, with the labels that each got.

#5789 [docs] VOsc, VOsc3 - update help docs, fix examples
  HelpSource/Classes/VOsc.schelp
  HelpSource/Classes/VOsc3.schelp
Labels: comp: help

#5801 test: correct wrong assumption in test
  HelpSource/Classes/NodeProxy.schelp
  testsuite/classlibrary/TestNodeMap.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: comp: help, comp: JITlib, comp: testing

#5812 SoundFileView - cast sampleRate to Integer in setData
  HelpSource/Classes/SoundFileView.schelp
  SCClassLibrary/Common/GUI/Base/QSoundFileView.sc
Labels: comp: Qt GUI

#5808 Docs: remove references to Travis
  HelpSource/Guides/WritingTests.schelp
  README_MACOS.md
  README_WINDOWS.md
Labels: comp: help, comp: project docs
