Repository supercollider/supercollider, pull requests merged in 2022-01, with the labels that each got.

#5626 Classlib: Put 'protect' in PauseStreams (update state on error)
  SCClassLibrary/Common/Streams/Stream.sc
Labels: bug, comp: class library

#5569 class library: refactor functionality: connectToServerAddr
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: class library

#5676 Topic fix some tests
  testsuite/classlibrary/TestNodeProxy.sc
  testsuite/classlibrary/TestNodeProxy_Server.sc
Labels: comp: testing

#5665 Help: Remove negatives from Task help, clarify example
  HelpSource/Classes/Task.schelp
Labels: comp: help

#5683 3.12.2 prep
  CHANGELOG.md
  SCVersion.txt
Labels: organizational

#5684 3.12 -> main (3.12.2 prep)
  .github/workflows/actions.yml
  CHANGELOG.md
  HelpSource/Classes/Float.schelp
  HelpSource/Classes/Pfindur.schelp
  HelpSource/Classes/SynthDef.schelp
  HelpSource/Guides/J-concepts-in-SC.schelp
  HelpSource/Tutorials/Getting-Started/05-Functions-and-Sound.schelp
  SCVersion.txt
  lang/LangPrimSource/SC_CoreMIDI.cpp
Labels: organizational

#5694 Git submodules: update urls to use https
  .gitmodules
Labels: git repository, github

#5566 Use newer SC version on the develop branch
  SCVersion.txt
Labels: organizational

#5696 make_release.py: add note about updating SCVersion.txt
  tools/release/make_release.py
Labels: organizational

#5697 Add tag name in the about dialog for tagged builds
  CMakeLists.txt
  HelpSource/Reference/Server-Command-Reference.schelp
  SCVersion.txt
  common/SC_Version.hpp.in
  server/scsynth/SC_MiscCmds.cpp
  server/supernova/sc/sc_osc_handler.cpp
Labels: comp: scsynth, comp: supernova, env: SCIDE, comp: build, organizational

#5491 ServerPlusGUI: defer GUI updates
  SCClassLibrary/Common/GUI/PlusGUI/Control/ServerPlusGUI.sc
Labels: comp: class library

#5650 Explicitly add ad hoc code signing on macOS
  CMakeLists.txt
  editors/sc-ide/CMakeLists.txt
Labels: os: macOS, comp: build

#5710 Deprecate QuartzComposerView
  HelpSource/Classes/QuartzComposerView.schelp
  SCClassLibrary/deprecated/3.13/QQuartzComposerView.sc
Labels: comp: sclang, os: macOS, comp: Qt GUI
