Repository supercollider/supercollider, pull requests merged in 2022-10, with the labels that each got.

#5887 class library: subBus uses same server as receiver
  SCClassLibrary/Common/Control/Bus.sc
Labels: comp: class library

#5161 GridLines improvements: fix exponential grids and add spacing control
  HelpSource/Classes/AbstractGridLines.schelp
  HelpSource/Classes/ControlSpec.schelp
  HelpSource/Classes/DrawGrid.schelp
  HelpSource/Classes/GridLines.schelp
  SCClassLibrary/Common/Control/Spec.sc
  SCClassLibrary/Common/GUI/Base/Grid.sc
Labels: comp: class library

#4971 scsynth: PanAz: fix leaks and imprecisions
  server/plugins/PanUGens.cpp
  testsuite/classlibrary/TestPanAz.sc
Labels: comp: server plugins, waiting for testing

#5431 Expand tilde to users home directory on Windows
  common/SC_Filesystem_win.cpp
Labels: comp: sclang, os: Windows, waiting for testing

#5767 Basic Documentation for Spawner Class
  HelpSource/Classes/Pspawn.schelp
  HelpSource/Classes/Pspawner.schelp
  HelpSource/Classes/Spawner.schelp
  SCClassLibrary/Common/Streams/Pspawner.sc
Labels: comp: help

#5850 sclang/scsynth/supernova: Two fixes for UdpInPort error reporting
  lang/LangPrimSource/SC_ComPort.cpp
  server/scsynth/SC_ComPort.cpp
  server/supernova/sc/sc_osc_handler.cpp
Labels: comp: scsynth, comp: sclang, comp: supernova

#5499 Better function flop implementation that works with string ellipsis and keyword arguments
  HelpSource/Classes/Function.schelp
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  testsuite/classlibrary/TestFunction.sc
Labels: comp: class library, API change

#5889 GHA: update deprecated functionality
  .github/workflows/actions.yml
Labels: comp: CI/CD

#5244 scsynth: Add error warnings and /fail replies to /d_load and /d_loadDir
  server/scsynth/SC_SequencedCommand.cpp
Labels: comp: scsynth

#5158 Classlib: Handle `langPort` startup error descriptively
  SCClassLibrary/DefaultLibrary/Main.sc
Labels: comp: class library

#5432 sclang: fix signal_thresh_xf typo
  HelpSource/Classes/Signal.schelp
  lang/LangSource/PyrSignal.cpp
Labels: bug, comp: sclang, API change

#5398 docs: Add description to undocumented methods of the Integer class.
  HelpSource/Classes/Integer.schelp
Labels: comp: help

#5888 Fix NamedControl example code
  HelpSource/Classes/NamedControl.schelp
Labels: comp: help

#4869 Update "Getting Started" chapter 4
  HelpSource/Tutorials/Getting-Started/04-Functions-and-Other-Functionality.schelp
Labels: comp: help

#5883 fix: Pattern.record
  SCClassLibrary/Common/Streams/Patterns.sc
Labels: comp: class library
