Repository supercollider/supercollider, pull requests merged in 2022-05, with the labels that each got.

#5766 Docs: replace git:// with https://
  HelpSource/Classes/Git.schelp
  HelpSource/Guides/UsingQuarks.schelp
  HelpSource/Guides/WritingHelp.schelp
  README_BEAGLEBONE_BLACK.md
  README_RASPBERRY_PI.md
  SCClassLibrary/Common/Quarks/Git.sc
Labels: comp: help, comp: project docs

#5712 Readline on Windows
  .github/workflows/actions.yml
  CMakeLists.txt
  README_WINDOWS.md
  cmake_modules/FindReadline.cmake
  lang/LangSource/SC_TerminalClient.cpp
Labels: comp: sclang, os: Windows, comp: CI/CD

#5772 Help: Linux: Clarify behavior of MIDIOut objects with uid
  HelpSource/Classes/MIDIOut.schelp
Labels: comp: help

#5785 Update Object.schelp
  HelpSource/Classes/Object.schelp
Labels: comp: help

#5776 Update libsndfile
  .github/workflows/actions.yml
  cmake_modules/FindSndfile.cmake
  vcpkg/triplets/x64-osx-release-supercollider.cmake
  vcpkg/triplets/x86-windows-release.cmake
Labels: comp: build, comp: 3rd party, comp: CI/CD

#5713 Remove RTAlloc exceptions, and review all plugins' RTAlloc/RTFree
  HelpSource/Guides/WritingUGens.schelp
  common/SC_AllocPool.cpp
  include/plugin_interface/FFT_UGens.h
  include/plugin_interface/SC_Unit.h
  lang/LangPrimSource/PyrArchiverT.h
  lang/LangPrimSource/PyrDeepCopier.h
  lang/LangPrimSource/PyrDeepFreezer.h
  lang/LangSource/GC.cpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrLexer.cpp
  server/plugins/BeatTrack.cpp
  server/plugins/BeatTrack2.cpp
  server/plugins/Convolution.cpp
  server/plugins/DelayUGens.cpp
  server/plugins/DemandUGens.cpp
  server/plugins/DemoUGens.cpp
  server/plugins/FFT_UGens.cpp
  server/plugins/FeatureDetection.cpp
  server/plugins/FilterUGens.cpp
  server/plugins/GendynUGens.cpp
  server/plugins/GrainUGens.cpp
  server/plugins/IOUGens.cpp
  server/plugins/KeyTrack.cpp
  server/plugins/LFUGens.cpp
  server/plugins/Loudness.cpp
  server/plugins/MFCC.cpp
  server/plugins/ML_SpecStats.cpp
  server/plugins/Onsets.cpp
  server/plugins/OscUGens.cpp
  server/plugins/PV_UGens.cpp
  server/plugins/PanUGens.cpp
  server/plugins/PartitionedConvolution.cpp
  server/plugins/ReverbUGens.cpp
  server/plugins/TriggerUGens.cpp
  server/scsynth/HashTable.h
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_Node.cpp
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  testsuite/classlibrary/TestUGen_RTAlloc.sc
Labels: comp: scsynth, comp: sclang, comp: server plugins
