Repository supercollider/supercollider, pull requests merged in 2022-09, with the labels that each got.

#5862 [docs] Impulse: remove repeated Discussion, reword.
  HelpSource/Classes/Impulse.schelp
Labels: comp: help

#5858 [classlib] DrawGrid: update *test and label positioning
  HelpSource/Classes/DrawGrid.schelp
  SCClassLibrary/Common/GUI/Base/Grid.sc
Labels: comp: class library

#5867 TestSuite: skip server boot tests
  testsuite/scripts/gha_test_run_proto.json
Labels: comp: testing, comp: CI/CD

#5851 AppClock schedAbs
  HelpSource/Classes/AppClock.schelp
  SCClassLibrary/Common/Core/Clock.sc
  testsuite/classlibrary/TestTask.sc
Labels: comp: class library

#5149 Classlib: ServerOptions: maxLogins may not exceed 32
  HelpSource/Classes/ServerOptions.schelp
  SCClassLibrary/Common/Control/Server.sc
Labels: comp: class library

#5874 supernova: fix Print plugin API method
  server/supernova/server/server.hpp
Labels: bug, comp: supernova

#5352 Plugins: Integrator Ctor passes through the first sample only
  server/plugins/FilterUGens.cpp
  testsuite/classlibrary/TestFilterUGens.sc
Labels: comp: server plugins, API change

#5877 Fix RF64 and W64 format recognition
  lang/LangPrimSource/PyrFilePrim.cpp
Labels: comp: sclang

#5783 Update Linux build matrix
  .github/workflows/actions.yml
  README.md
Labels: os: Linux, comp: project docs, comp: CI/CD

#5847 Update GHA cache actions
  .github/workflows/actions.yml
Labels: comp: CI/CD

#5875 GHA/Build system: use ccache on windows
  .github/workflows/actions.yml
  CMakeLists.txt
  README_WINDOWS.md
Labels: os: Windows, comp: build, comp: CI/CD

#5878 HelpSource: Fix typos in Literals help file
  HelpSource/Reference/Literals.schelp
Labels: comp: help
