Repository supercollider/supercollider, pull requests merged in 2022-02, with the labels that each got.

#5716 testsuite: PanAz fix assertFloatEquals and CondVar
  testsuite/classlibrary/TestPanAz.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: comp: testing

#5711 Topic update seminaire
  examples/research_and_tools/SeminaireMusical.scd
Labels: bug, comp: examples

#5721 Document Symbol -isPrefix
  HelpSource/Classes/Symbol.schelp
Labels: comp: help

#5717 testsuite: fix NodeProxy ar mapping test
  testsuite/classlibrary/TestNodeProxy.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: comp: testing

#5728 server: LIB_SUFFIX should be STRING, not BOOL
  server/CMakeLists.txt
Labels: comp: scsynth, os: Linux, comp: supernova, comp: build

#5733 classlib: exclude QQuartzComposer from headless builds
  SCClassLibrary/deprecated/3.13/GUI/QQuartzComposerView.sc
Labels: comp: class library, comp: build

#5344 fix audio rate versions of triggered random ugens
  server/plugins/NoiseUGens.cpp
Labels: comp: server plugins

#5702 Fix multiple UnitTests
  .github/workflows/actions.yml
  testsuite/classlibrary/TestBus.sc
  testsuite/classlibrary/TestFunction.sc
  testsuite/classlibrary/TestIndexUGenRates.sc
  testsuite/classlibrary/TestNetAddr.sc
  testsuite/classlibrary/TestNodeProxy.sc
  testsuite/classlibrary/TestPV_ChainUGen.sc
  testsuite/classlibrary/TestServer.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: comp: testing

#5657 SynthDef.build gets a changed posthook
  SCClassLibrary/Common/Audio/SynthDef.sc
Labels: comp: class library

#5611 Classlib: Allow any type of text stream in the FileReader hierarchy
  SCClassLibrary/Common/Streams/TabFileReader.sc
Labels: bug, comp: class library

#5601 Plugins: Fix AudioControl and InFeedback processing for an extra cycle
  server/plugins/IOUGens.cpp
  testsuite/classlibrary/TestIOUGens.sc
Labels: comp: server plugins

#5737 GHA: update macOS system libraries build
  .github/workflows/actions.yml
Labels: comp: CI/CD

#5738 Fix more tests
  testsuite/classlibrary/TestServer_boot.sc
  testsuite/classlibrary/TestWebView.sc
Labels: comp: testing
