Repository supercollider/supercollider, pull requests merged in 2022-08, with the labels that each got.

#5826 [skip ci] Help: Clarify full sysex format for all OSes
  HelpSource/Classes/MIDIOut.schelp
Labels: comp: help

#5840 classlib: Delete unused method `*findMethod` from ScIDE class
  SCClassLibrary/scide_scqt/ScIDE.sc
Labels: bug, comp: class library

#5828 Classlib: QuarksGUI should check schelp as well as helpdoc
  SCClassLibrary/Common/Quarks/GUI/QuarksGui.sc
Labels: bug, quarks

#5842 Update analog-ringz-tuner: Replace deprecated file-open dialog
  examples/GUI examples/analog-drum-tuner.scd
Labels: comp: examples

#5787 Fix UGen initialization: OscUGens
  HelpSource/Classes/FSinOsc.schelp
  HelpSource/Classes/FoldIndex.schelp
  SCClassLibrary/Common/Audio/Osc.sc
  server/plugins/OscUGens.cpp
Labels: comp: server plugins, API change

#5782 Update README_LINUX for Ubuntu 18.04-22.04
  README_LINUX.md
Labels: os: Linux, comp: project docs

#5838 docs: server rec sample format additional info
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/SimpleNumber.schelp
Labels: comp: help

#5097 server: added binout to SpecPcile
  HelpSource/Classes/SpecPcile.schelp
  SCClassLibrary/Common/Audio/MachineListening.sc
  server/plugins/ML.h
  server/plugins/ML_SpecStats.cpp
Labels: comp: server plugins, API extension

#5845 Update macOS build matrix
  .github/workflows/actions.yml
  README.md
Labels: os: macOS, comp: CI/CD

#5686 ndef uses embedded specs for guis
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/JITLib/GUI/EnvirGui.sc
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
  SCClassLibrary/JITLib/ProxySpace/ProxyInterfaces.sc
Labels: comp: class library, comp: JITlib

#4511 Plotter: update default colors to valid colors.
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library

#5846 lang: Fix system realtime message type codes
  lang/LangPrimSource/SC_AlsaMIDI.cpp
  testsuite/classlibrary/TestMIDI.sc
  testsuite/scripts/gha_test_run_proto.json
Labels: bug, comp: sclang

#5827 Plotter: fix grid and axis labels
  HelpSource/Classes/Plotter.schelp
  SCClassLibrary/Common/GUI/Base/Grid.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library

#5848 Update Image.schelp
  HelpSource/Classes/Image.schelp
Labels: comp: help

#5849 class library: make sure color is not converted to array
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library

#4150 Topic/impulse rewrite
  HelpSource/Classes/Impulse.schelp
  server/plugins/LFUGens.cpp
  testsuite/classlibrary/TestCoreUGens.sc
  testsuite/classlibrary/TestFilterUGens.sc
Labels: comp: server plugins, API change

#5265 Improve try syntax discoverability and add warnings
  HelpSource/Classes/Exception.schelp
  HelpSource/Classes/Function.schelp
  HelpSource/Reference/Control-Structures.schelp
Labels: comp: help
