Repository supercollider/supercollider, pull requests merged in 2022-03, with the labels that each got.

#4709 classlib: add number of decimal places to SimpleNumber -asTimeString
  HelpSource/Classes/SimpleNumber.schelp
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Math/SimpleNumber.sc
  testsuite/classlibrary/TestSimpleNumber.sc
Labels: comp: class library

#5165 adding two examples to ControlRate.schelp
  HelpSource/Classes/ControlRate.schelp
Labels: comp: help

#5386 EventStreamCleanup: Prevent double-firing of cleanup functions
  HelpSource/Classes/CallOnce.schelp
  HelpSource/Classes/EventStreamCleanup.schelp
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Streams/EventStreamCleanup.sc
  SCClassLibrary/Common/Streams/PmonoStreams.sc
  testsuite/classlibrary/TestEventStreamCleanup.sc
  testsuite/classlibrary/TestPattern.sc
Labels: comp: class library

#5027 Quick fix for Pmono (and PmonoArtic) turning everything off in the default group
  SCClassLibrary/Common/Streams/PmonoStreams.sc
Labels: comp: class library, Work In Progress (WIP) - don't merge yet

#5322 classlib: String:openOS escaping
  SCClassLibrary/Common/Collections/linux/extString_linux.sc
  SCClassLibrary/Common/Collections/osx/extString_osx.sc
  SCClassLibrary/Common/Collections/windows/extString_windows.sc
Labels: os: macOS, os: Linux, comp: class library

#5748 Help: EventPatternProxy fix example code execution
  HelpSource/Classes/EventPatternProxy.schelp
Labels: comp: help
