Repository supercollider/supercollider, pull requests merged in 2023-03, with the labels that each got.

#5991 Update Linux build matrix and Readme on supported OSes and Libraries
  .github/workflows/actions.yml
  README.md
Labels: comp: project docs, comp: CI/CD

#5990 classlib: find server program on Windows
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Labels: os: Windows, comp: class library

#5995 GHA: refresh some caches weekly, not daily
  .github/workflows/actions.yml
Labels: comp: CI/CD

#3259 Date improvements
  HelpSource/Classes/Date.schelp
  SCClassLibrary/Common/Math/Date.sc
  lang/LangPrimSource/PyrUnixPrim.cpp
  testsuite/classlibrary/TestDate.sc
Labels: comp: class library, API change
