Repository supercollider/supercollider, pull requests merged in 2023-10, with the labels that each got.

#6107 GHA: update macOS runner image to macOS 12
  .github/workflows/actions.yml
  README.md
Labels: os: macOS, comp: CI/CD

#6055 Help: Amplitude's convergence time is really 20 dB
  HelpSource/Classes/Amplitude.schelp
Labels: comp: help

#6115 GHA: update the brew-install-universal script
  .github/workflows/actions.yml
Labels: os: macOS, comp: 3rd party, comp: CI/CD

#6113 classlib: remove whitespace from .storeOn .printOn
  SCClassLibrary/Common/Collections/Event.sc
  SCClassLibrary/Common/Collections/SparseArray.sc
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/Geometry/Point.sc
  SCClassLibrary/Common/Math/Complex.sc
  SCClassLibrary/Common/Math/Polar.sc
  testsuite/classlibrary/TestNodeProxy.sc
Labels: comp: class library
