Repository supercollider/supercollider, pull requests merged in 2023-11, with the labels that each got.

#6133 Switch Linux Clang to use libstdc++
  CMakeLists.txt
  README_LINUX.md
  server/supernova/CMakeLists.txt
  testsuite/server/supernova/CMakeLists.txt
Labels: os: Linux, comp: build

#6118 GHA macOS legacy: build fftw
  .github/workflows/actions.yml
Labels: os: macOS, comp: CI/CD

#6043 scsynth/supernova: fix thread priorities
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_CoreAudio.cpp
  server/supernova/server/server.cpp
  server/supernova/utilities/osc_server.hpp
Labels: comp: scsynth, os: macOS, comp: supernova, os: Windows, performance

#6137 classlib: IDE Document should set path before autorun
  SCClassLibrary/scide_scqt/ScIDE.sc
Labels: env: SCIDE, comp: class library
