Repository supercollider/supercollider, pull requests merged in 2024-09, with the labels that each got.

#6216 Use std::string for set and get environment variables -
  lang/LangPrimSource/PyrStringPrim.cpp
  testsuite/classlibrary/TestEnvironmentVars.sc
Labels: comp: sclang

#6434 Help file spacing fix
  HelpSource/Classes/UGen.schelp
Labels: comp: help, has merge note

#6124 [Windows] switch system calls to UTF-16
  common/SC_Win32Utils.cpp
  common/SC_Win32Utils.h
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrStringPrim.cpp
  server/scsynth/CMakeLists.txt
  server/scsynth/SC_Lib_Cintf.cpp
  server/supernova/CMakeLists.txt
  server/supernova/sc/sc_ugen_factory.cpp
Labels: os: Windows

#6156 fix `slotStrVal` implementation
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/PyrSlot.h
Labels: bug, comp: sclang

#6427 Help: add performArgs entry.
  HelpSource/Classes/Object.schelp
Labels: comp: help

#6183 Fix Env:-circle, add to docs
  HelpSource/Classes/Env.schelp
  SCClassLibrary/Common/Audio/Env.sc
Labels: comp: class library, comp: help, has merge note

#5618 Supernova: thread affinity fixes/improvements
  HelpSource/Classes/ServerOptions.schelp
  SCClassLibrary/Common/Control/Server.sc
  common/SC_Win32Utils.cpp
  common/SC_Win32Utils.h
  server/supernova/CMakeLists.txt
  server/supernova/dsp_thread_queue/dsp_thread.hpp
  server/supernova/server/main.cpp
  server/supernova/server/server.cpp
  server/supernova/server/server.hpp
  server/supernova/server/server_args.cpp
  server/supernova/server/server_args.hpp
  server/supernova/server/server_scheduler.hpp
  server/supernova/utilities/hardware_topology.cpp
Labels: os: Linux, comp: supernova, os: Windows, Work In Progress (WIP) - don't merge yet

#6436 Fix for GCC 14
  CMakeLists.txt
  common/SC_PaUtils.cpp
  server/scsynth/CMakeLists.txt
Labels: comp: build

#6444 Wrap post test results in timeout
  .github/workflows/test_linux.yml
  .github/workflows/test_macos.yml
Labels: comp: testing, comp: CI/CD

#6441 Speed up CoreUGens muladd test
  testsuite/classlibrary/TestCoreUGens.sc
Labels: comp: class library, comp: testing

#6445 Fix case typo on kwargs argument in docs of `Obect.performArgs`
  HelpSource/Classes/Object.schelp
Labels: bug, comp: help

#6446 SCLang: fix duplicate arg warning.
  lang/LangSource/PyrMessage.cpp
Labels: comp: sclang

#6374 Testsuite: Speed up CoreUGens tests
  testsuite/classlibrary/TestCoreUGens.sc
Labels: comp: class library, comp: testing

#6151 Add parseOSC method to Int8Array
  HelpSource/Classes/Array.schelp
  HelpSource/Classes/Int8Array.schelp
  SCClassLibrary/Common/Collections/ArrayedCollection.sc
  lang/LangPrimSource/OSCData.cpp
  testsuite/classlibrary/TestInt8Array.sc
Labels: enhancement, comp: sclang, comp: class library

#6392 Add ClassTree to the Indexes of SCDoc Top Menu
  HelpSource/scdoc.js
Labels: comp: SCDoc

#6458 gha: macos: verify the build
  .github/workflows/build_macos.yml
Labels: os: macOS, comp: CI/CD

#6460 UnitTest, TestPV_Chain: bug fix, CondVar should have a predicate.
  testsuite/classlibrary/TestPV_ChainUGen.sc
Labels: comp: testing

#6454 plugins: SpecPcile output zeros on RTAlloc fail
  server/plugins/ML_SpecStats.cpp
Labels: comp: server plugins

#6457 GHA: update build matrix
  .github/workflows/actions.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
Labels: comp: CI/CD

#6465 GHA: macOS: fix caching when switching deployment targets
  .github/workflows/build_macos.yml
Labels: os: macOS, comp: CI/CD

#6467 server: add /rtMemoryStatus cmd for debugging
  HelpSource/Classes/Server.schelp
  HelpSource/Reference/Server-Command-Reference.schelp
  SCClassLibrary/Common/Control/Server.sc
  include/server/SC_OSC_Commands.h
  server/scsynth/SC_MiscCmds.cpp
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/utilities/simple_pool.hpp
Labels: comp: scsynth, comp: supernova, API extension

#6474 Fix formatting of `sc_osc_handler.cpp`
  server/supernova/sc/sc_osc_handler.cpp
Labels: severe, comp: CI/CD

#6470 GHA: update pre-commit action
  .github/workflows/actions.yml
Labels: comp: CI/CD

#6469 GHA: macOS: update universal script
  .github/workflows/build_macos.yml
Labels: os: macOS, comp: CI/CD

#6464 QT: remove deprecations for QT 5.15
  .github/workflows/build_macos.yml
  QtCollider/QWidgetProxy.cpp
  QtCollider/QWidgetProxy.h
  QtCollider/QcCallback.hpp
  QtCollider/QcSignalSpy.h
  QtCollider/debug.cpp
  QtCollider/interface.cpp
  QtCollider/layouts/stack_layout.cpp
  QtCollider/primitives/prim_misc.cpp
  QtCollider/safeptr.hpp
  QtCollider/widgets/QcCanvas.cpp
  QtCollider/widgets/QcGraph.h
  QtCollider/widgets/QcNumberBox.cpp
  QtCollider/widgets/QcPenPrinter.h
  QtCollider/widgets/QcSlider.cpp
  QtCollider/widgets/QcWindow.cpp
  editors/sc-ide/core/doc_manager.cpp
  editors/sc-ide/core/doc_manager.hpp
  editors/sc-ide/core/settings/serialization.cpp
  editors/sc-ide/primitives/sc_ipc_client.cpp
  editors/sc-ide/primitives/sc_ipc_client.hpp
  editors/sc-ide/widgets/audio_status_box.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/editor.cpp
  editors/sc-ide/widgets/code_editor/editor.hpp
  editors/sc-ide/widgets/find_replace_tool.hpp
  editors/sc-ide/widgets/lookup_dialog.cpp
  editors/sc-ide/widgets/main_window.cpp
  editors/sc-ide/widgets/multi_editor.hpp
  editors/sc-ide/widgets/post_window.cpp
  editors/sc-ide/widgets/post_window.hpp
  editors/sc-ide/widgets/settings/editor_page.cpp
  editors/sc-ide/widgets/style/style.cpp
  editors/sc-ide/widgets/util/gui_utilities.cpp
  editors/sc-ide/widgets/util/icon_list_widget.hpp
  editors/sc-ide/widgets/util/popup_widget.cpp
Labels: qt5, qt6

#6331 Replace `boost::filesystem` with `std::filesystem`
  README.md
  README_LINUX.md
  common/SC_Codecvt.hpp
  common/SC_Filesystem.hpp
  common/SC_Filesystem_macos.cpp
  common/SC_Filesystem_win.cpp
  editors/sc-ide/core/util/standard_dirs.cpp
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrPlatformPrim.cpp
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangPrimSource/PyrStringPrim.cpp
  lang/LangPrimSource/PyrUnixPrim.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrLexer.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_LanguageConfig.hpp
  lang/LangSource/SC_TerminalClient.cpp
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_GraphDef.h
  server/scsynth/SC_Lib_Cintf.cpp
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_World.cpp
  server/supernova/sc/sc_synth_definition.cpp
  server/supernova/sc/sc_synth_definition.hpp
  server/supernova/sc/sc_synthdef.cpp
  server/supernova/sc/sc_synthdef.hpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
  server/supernova/server/main.cpp
  testsuite/server/supernova/sc_plugin_loader_test.cpp
Labels: comp: scsynth, comp: sclang, comp: build, comp: 3rd party, comp: CI/CD

#6476 Revert pinning boost version for macOS system libs
  .github/workflows/build_macos.yml
Labels: os: macOS, comp: 3rd party, comp: CI/CD

#6453 testsuite: RTAlloc refactor and fix
  testsuite/classlibrary/TestUGen_RTAlloc.sc
  testsuite/scripts/test_run_proto_gha.scd
Labels: comp: testing

#6473 UnitTest, TestBus: improve performance, reduce number of control busses.
  testsuite/classlibrary/TestBus.sc
Labels: comp: testing

#6478 QtCollider: sunken inset shadows respect alpha
  QtCollider/style/routines.hpp
Labels: comp: Qt GUI

#6485 correct .editorconfig syntax
  .editorconfig
Labels: comp: other

#6487 Include cassert import for clang 15
  common/SC_Filesystem_macos.cpp
Labels: os: macOS

#6493 GHA macOS: clear homebrew downloads only
  .github/workflows/build_macos.yml
Labels: os: macOS, comp: CI/CD

#6497 Add <https://git-scm.com> to the Quark error message
  SCClassLibrary/Common/Quarks/Git.sc
Labels: comp: class library

#6499 scsynth: add cmdName to error when /cmd not found
  server/scsynth/SC_UnitDef.cpp
Labels: comp: scsynth
