Repository supercollider/supercollider, pull requests merged in 2024-11, with the labels that each got.

#6512 Qt: replace QRegExp with QRegularExpression
  editors/sc-ide/core/sc_lexer.cpp
  editors/sc-ide/core/sc_lexer.hpp
  editors/sc-ide/widgets/code_editor/editor.cpp
  editors/sc-ide/widgets/code_editor/editor.hpp
  editors/sc-ide/widgets/code_editor/sc_editor.cpp
  editors/sc-ide/widgets/find_replace_tool.cpp
  editors/sc-ide/widgets/find_replace_tool.hpp
  editors/sc-ide/widgets/util/gui_utilities.hpp
Labels: env: SCIDE, qt6

#6524 Remove qt5compat
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
  QtCollider/CMakeLists.txt
  README_LINUX.md
  editors/sc-ide/CMakeLists.txt
Labels: comp: build, comp: project docs, comp: CI/CD, qt6, has merge note

#6450 scide: fix failing to open recent files if mnemonic is enabled
  editors/sc-ide/widgets/main_window.cpp
Labels: env: SCIDE, qt6, blocked

#6528 scsynth: correct Rendezvous port byte order, send assigned if 0
  server/scsynth/SC_ComPort.cpp
  server/scsynth/scsynth_main.cpp
Labels: comp: scsynth

#6451 help: tutorials: QT Tutorial
  HelpSource/Tutorials/GUI/compose_complex_view.schelp
  HelpSource/Tutorials/GUI/create_simple_instrument_view.schelp
  HelpSource/Tutorials/GUI/create_window.schelp
  HelpSource/Tutorials/GUI/things_you_wanna_know.schelp
  HelpSource/Tutorials/GUI/tutorial_intro.schelp
Labels: comp: help, has merge note

#6535 Docs: fix documented Array.sort default argument
  HelpSource/Classes/SequenceableCollection.schelp
Labels: comp: help

#6540 Disable IDE menu bar icons on macOS
  editors/sc-ide/widgets/main_window.cpp
Labels: env: SCIDE, qt6

#6551 Destroy UDP socket explicitly
  lang/LangPrimSource/OSCData.cpp
Labels: comp: sclang, os: macOS, needs-testing: windows, needs-testing: macOS, needs-testing: linux
