Repository supercollider/supercollider, pull requests merged in 2024-06, with the labels that each got.

#6212 ScopeView: allow lissajou for more than 2 chs as overlaid pairs
  HelpSource/Classes/ScopeView.schelp
  HelpSource/Classes/Stethoscope.schelp
  QtCollider/widgets/QcScopeShm.cpp
Labels: comp: Qt GUI

#6095 CSS Themes for docs
  HelpSource/BrokenLink.html
  HelpSource/Browse.html
  HelpSource/Classes/SCDocHTMLRenderer.schelp
  HelpSource/Overviews/Classes.html
  HelpSource/Overviews/Documents.html
  HelpSource/Overviews/Methods.html
  HelpSource/Reference/SCDocStyling.schelp
  HelpSource/Search.html
  HelpSource/browse.css
  HelpSource/codemirror.css
  HelpSource/editor.css
  HelpSource/scdoc.css
  HelpSource/scdoc.js
  HelpSource/themes/README.md
  HelpSource/themes/classic.css
  HelpSource/themes/dark.css
  HelpSource/themes/default.css
  HelpSource/themes/dracula.css
  HelpSource/themes/solarizedDark.css
  HelpSource/themes/solarizedLight.css
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Labels: comp: SCDoc, has merge note

#6326 Update CMakeLists.txt replace deprecated commands
  CMakeLists.txt
  cmake_modules/cmake_uninstall.cmake.in
Labels: comp: build

#6317 Add formula support for SCDoc via kaTeX
  HelpSource/Reference/SCDocSyntax.schelp
  HelpSource/lib/katex/README.md
  HelpSource/lib/katex/fonts/KaTeX_AMS-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Caligraphic-Bold.woff2
  HelpSource/lib/katex/fonts/KaTeX_Caligraphic-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Fraktur-Bold.woff2
  HelpSource/lib/katex/fonts/KaTeX_Fraktur-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Main-Bold.woff2
  HelpSource/lib/katex/fonts/KaTeX_Main-BoldItalic.woff2
  HelpSource/lib/katex/fonts/KaTeX_Main-Italic.woff2
  HelpSource/lib/katex/fonts/KaTeX_Main-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Math-BoldItalic.woff2
  HelpSource/lib/katex/fonts/KaTeX_Math-Italic.woff2
  HelpSource/lib/katex/fonts/KaTeX_SansSerif-Bold.woff2
  HelpSource/lib/katex/fonts/KaTeX_SansSerif-Italic.woff2
  HelpSource/lib/katex/fonts/KaTeX_SansSerif-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Script-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Size1-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Size2-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Size3-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Size4-Regular.woff2
  HelpSource/lib/katex/fonts/KaTeX_Typewriter-Regular.woff2
  HelpSource/lib/katex/katex.min.css
  HelpSource/lib/katex/katex.min.js
  HelpSource/scdoc.js
  SCClassLibrary/SCDoc/SCDocRenderer.sc
  SCDoc/SCDoc.l
  SCDoc/SCDoc.tab.cpp
  SCDoc/SCDoc.tab.hpp
  SCDoc/SCDoc.y
  SCDoc/build_parser.sh
  SCDoc/lex.scdoc.cpp
Labels: comp: SCDoc, comp: help

#6262 Scsynth & Plugin: Remove c cast from CALCSCOPE and fix GVerbs roomsize.
  HelpSource/Classes/GVerb.schelp
  include/common/SC_Types.h
  include/plugin_interface/SC_Unit.h
  server/plugins/ReverbUGens.cpp
Labels: comp: scsynth, comp: server plugins

#6219 SCClassLib make SoundFile easier write multichannel files.
  HelpSource/Classes/SoundFile.schelp
  SCClassLibrary/Common/Files/SoundFile.sc
Labels: comp: class library

#6319 Add pre commit
  .github/workflows/actions.yml
  .pre-commit-config.yaml
Labels: comp: CI/CD

#6344 add `FULL_CHECK` flag for clang-format
  .github/workflows/actions.yml
  .pre-commit-config.yaml
  tools/clang-format.py
Labels: comp: CI/CD

#6201 Plotter: add new plot modes
  HelpSource/Classes/Impulse.schelp
  HelpSource/Classes/Plotter.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: enhancement, comp: class library

#6323 help: document the usage of addSystemSynthDefs
  HelpSource/Classes/DebugFrame.schelp
  HelpSource/Classes/Score.schelp
  HelpSource/Classes/SystemSynthDefs.schelp
  HelpSource/Guides/Non-Realtime-Synthesis.schelp
Labels: comp: help, has merge note

#6194 Decay, Decay2: fix UGen initialization
  HelpSource/Classes/Decay.schelp
  HelpSource/Classes/Decay2.schelp
  server/plugins/FilterUGens.cpp
  testsuite/classlibrary/TestFilterUGens.sc
Labels: comp: server plugins

#6225 Add primitive `isRectangular` to array.
  HelpSource/Classes/ArrayedCollection.schelp
  HelpSource/Classes/Object.schelp
  SCClassLibrary/Common/Collections/ArrayedCollection.sc
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  lang/LangSource/PyrKernel.h
  testsuite/classlibrary/TestArray.sc
Labels: comp: sclang

#6270 SClang: GUI: Add thumbSize option for Slider2D
  HelpSource/Classes/Slider2D.schelp
  QtCollider/widgets/QcSlider2D.h
  SCClassLibrary/Common/GUI/Base/QSlider2D.sc
Labels: comp: Qt GUI

#6329 replace "Monospace" with system monospace font
  editors/sc-ide/widgets/util/status_box.cpp
Labels: env: SCIDE, performance

#6035 Fix UGen initialization: LFUGens pt. 1/3, Trig, Trig1
  server/plugins/LFUGens.cpp
  server/plugins/TriggerUGens.cpp
  testsuite/classlibrary/TestCoreUGens.sc
  testsuite/scripts/test_run_proto_gha.scd
Labels: comp: server plugins

#6354 Move build jobs in separate reusable workflows
  .github/workflows/actions.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
Labels: comp: CI/CD, has merge note

#6356 lang: LinkClock beats/secs conversion should trap 'inf'
  lang/LangPrimSource/SC_LinkClock.cpp
  testsuite/classlibrary/TestLinkClock.sc
  testsuite/classlibrary/TestTempoClock.sc
Labels: comp: sclang

#6348 Fix doc icon position
  HelpSource/scdoc.css
Labels: bug, comp: SCDoc

#6372 Split test step in multiple reusable workflows
  .github/workflows/actions.yml
  .github/workflows/test_linux.yml
  .github/workflows/test_macos.yml
  .github/workflows/test_windows.yml
Labels: has merge note
