Repository supercollider/supercollider, pull requests merged in 2024-05, with the labels that each got.

#5930 class library: in Ndef, call proxyspace dispatch explicitly
  HelpSource/Classes/Ndef.schelp
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
Labels: comp: class library, comp: JITlib

#6296 ServerPlugins: PanAZ: fix bug when width is small and negative
  HelpSource/Classes/PanAz.schelp
  server/plugins/PanUGens.cpp
Labels: comp: server plugins

#6165 Help: Correct wording in Amplitude help (it's not the peak)
  HelpSource/Classes/Amplitude.schelp
Labels: comp: help

#6258 Docs: Buffer: code style update
  HelpSource/Classes/Buffer.schelp
Labels: comp: help

#6299 SCLang: tidy duplicated error message
  lang/LangSource/PyrParseNode.cpp
Labels: comp: sclang

#6300 Docs: Add documentation for DebugFrame
  HelpSource/Classes/DebugFrame.schelp
Labels: comp: help

#6196 Bump to `clang-format-14`
  .clang-format
  .github/workflows/actions.yml
  QtCollider/widgets/QcFileDialog.h
  QtCollider/widgets/QcGraph.cpp
  common/SC_AllocPool.h
  common/SC_VFP11.h
  editors/sc-ide/core/main_function.cpp
  editors/sc-ide/core/sc_process.cpp
  editors/sc-ide/widgets/main_window.cpp
  editors/sc-ide/widgets/settings/sclang_page.cpp
  include/plugin_interface/SC_RGen.h
  lang/LangPrimSource/OSCData.cpp
  lang/LangPrimSource/PyrArchiverT.h
  lang/LangPrimSource/SC_Clock.hpp
  lang/LangSource/PyrLexer.cpp
  platform/windows/compat_stuff/getopt/getopt.c
  server/plugins/BinaryOpUGens.cpp
  server/plugins/iPhoneUGens.mm
  server/scsynth/SC_Bela.cpp
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_Jack.cpp
  server/scsynth/SC_Lib.cpp
  server/scsynth/SC_PortAudio.cpp
  server/scsynth/SC_Str4.h
  server/scsynth/SC_World.cpp
  server/supernova/audio_backend/sndfile_backend.hpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_synthdef.cpp
  tools/clang-format.py
Labels: comp: other

#6293 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: comp: project docs, has merge note

#6195 Help: Correct categories for pattern vs MIDI help file
  HelpSource/Overviews/MidiPatterns.schelp
Labels: comp: help

#6328 Bump GH actions to node 20 versions
  .github/workflows/actions.yml
Labels: comp: CI/CD

#6281 add .bounds_ method to Stethoscope
  HelpSource/Classes/Stethoscope.schelp
  SCClassLibrary/Common/GUI/tools/Stethoscope.sc
Labels: comp: class library
