Repository supercollider/supercollider, pull requests merged in 2025-04, with the labels that each got.

#6677 tests: add test in lcm/gcd
  testsuite/classlibrary/TestLcmGcd.sc
Labels: comp: class library

#6664 plugins: EnvGen: fix endtime
  HelpSource/Classes/Env.schelp
  server/plugins/LFUGens.cpp
  testsuite/classlibrary/TestCoreUGens.sc
Labels: comp: server plugins, squash on merge

#6690 plugin interface: fix ClearUnitOnMemFailed macro
  include/plugin_interface/SC_Unit.h
Labels: comp: server plugins

#6639 Fix the example codes in Download.schelp
  HelpSource/Classes/Download.schelp
Labels: comp: help

#6713 plugins: fix regression in LocalIn
  server/plugins/IOUGens.cpp
Labels: bug, comp: server plugins

#6714 docs: fix em dash, typo, update urls to https
  HelpSource/Guides/WritingUGens.schelp
Labels: comp: help

#6653 cmake: repair windows resource compiling
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
Labels: comp: sclang, os: Windows, comp: build, has merge note

#6632 Correct explanation of copyRange and copySeries in ArrayedCollection.schelp
  HelpSource/Classes/ArrayedCollection.schelp
Labels: comp: help, has merge note

#6537 Add/Modify Explanation for .sum, .product and .mean in Collection Documentation with KaTex
  HelpSource/Classes/Collection.schelp
Labels: comp: help, squash on merge

#6701 Fix compatibility with CMake4 (portaudio)
  external_libraries/portaudio/CMakeLists.txt
Labels: os: Windows, comp: build, comp: 3rd party, comp: CI/CD

#6712 Remove RFC section from README
  README.md
Labels: organizational

#6719 Add documentation about wayland incompatibility of keyboard/mouse UGens
  HelpSource/Classes/KeyState.schelp
  HelpSource/Classes/MouseButton.schelp
  HelpSource/Classes/MouseX.schelp
  HelpSource/Classes/MouseY.schelp
Labels: comp: help

#6720 Change class name `BufferExamplesPath` to `ExampleFiles`
  HelpSource/Classes/Buffer.schelp
  HelpSource/Classes/ExampleFiles.schelp
  SCClassLibrary/Common/Files/ExampleFiles.sc
  testsuite/classlibrary/TestExampleFiles.sc
Labels: comp: class library

#6716 CoreAudio backend: don't try to query input device when numInputBusChannels = 0
  server/scsynth/SC_CoreAudio.cpp
Labels: comp: scsynth, os: macOS

#6711 InlineUnaryOp.h: increase precision of constants
  include/plugin_interface/SC_InlineUnaryOp.h
  testsuite/classlibrary/TestSimpleNumber.sc
Labels: comp: sclang, comp: server plugins

#6700 Patch yaml-cpp for cmake 4
  external_libraries/CMakeLists.txt
Labels: comp: 3rd party

#6725 Document keystate usage on macOS
  HelpSource/Classes/KeyState.schelp
Labels: os: macOS, comp: help

#6563 Add basic zoom via touchpad gesture
  editors/sc-ide/widgets/code_editor/editor.cpp
  editors/sc-ide/widgets/code_editor/editor.hpp
  editors/sc-ide/widgets/post_window.cpp
  editors/sc-ide/widgets/post_window.hpp
Labels: env: SCIDE, has merge note

#6726 Collection.schelp: tweak wording
  HelpSource/Classes/Collection.schelp
Labels: comp: help

#6088 Add checkSameRateAsFirstInput to InRange and checkValidInputs to AmpComp
  SCClassLibrary/Common/Audio/Line.sc
  SCClassLibrary/Common/Audio/Trig.sc
Labels: comp: class library

#6588 Ndef: make clear methods more flexible
  HelpSource/Classes/Ndef.schelp
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
Labels: comp: class library, comp: JITlib

#6554 Use tab to switch between documents
  editors/sc-ide/widgets/multi_editor.cpp
Labels: env: SCIDE, needs-testing: windows

#6729 Update mailing list links in README
  README.md
Labels: comp: project docs

#6406 update switch and case in /HelpSource/Reference/Control-Structures.schelp
  HelpSource/Reference/Control-Structures.schelp
Labels: comp: help, has merge note

#6727 sclang: exit if the library has not been compiled
  lang/LangSource/SC_TerminalClient.cpp
Labels: comp: sclang

#6282 Add bounds arg to {}.scope
  HelpSource/Classes/Function.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Control/server-scope.sc
  SCClassLibrary/Common/GUI/tools/Stethoscope.sc
Labels: comp: class library, has merge note

#6581 Add section 'Syntax subtleties' to Event helpfile
  HelpSource/Classes/Event.schelp
Labels: comp: help

#6172 Fix UGen initialization: LFUGens pt. 2/3
  HelpSource/Classes/AmpCompA.schelp
  HelpSource/Classes/InRange.schelp
  HelpSource/Classes/InRect.schelp
  HelpSource/Classes/SyncSaw.schelp
  HelpSource/Classes/T2A.schelp
  HelpSource/Classes/T2K.schelp
  HelpSource/Classes/VarSaw.schelp
  SCClassLibrary/Common/Audio/Trig.sc
  SCClassLibrary/Common/Audio/UGen.sc
  server/plugins/LFUGens.cpp
  testsuite/classlibrary/TestCoreUGens.sc
Labels: comp: scsynth

#6744 TestServer_clientID_booted: wait for the process to exit
  testsuite/classlibrary/TestServer_clientID_booted.sc
Labels: comp: testing

#6147 registerUnit: make sure that the UGen class is not polymorphic
  include/plugin_interface/SC_PlugIn.hpp
Labels: enhancement, comp: server plugins

#6747 sclang: fix unique method regression and rename variables to something useful
  lang/LangSource/PyrMessage.cpp
  testsuite/classlibrary/TestUniqueMethod.sc
Labels: comp: sclang

#6735 Topic/schelp add gray noise explanation & example
  HelpSource/Classes/GrayNoise.schelp
Labels: comp: help, squash on merge

#6754 help: replace "/tmp" with Platform.defaultTempDir
  HelpSource/Classes/PathName.schelp
  HelpSource/Classes/String.schelp
Labels: comp: help

#6756 Document.string_ : fix default args
  SCClassLibrary/scide_scqt/ScIDE.sc
Labels: env: SCIDE, API change

#6187 Refactor IEnvGen initialization
  server/plugins/LFUGens.cpp
Labels: comp: scsynth

#6748 supernova: catch exceptions in NRT synthesis
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/scsynth_main.cpp
  server/supernova/audio_backend/sndfile_backend.hpp
  server/supernova/server/main.cpp
Labels: enhancement, comp: scsynth, comp: supernova

#6640 Use boost program options for sclang CLI options
  QtCollider/LanguageClient.cpp
  QtCollider/LanguageClient.h
  include/lang/SC_LanguageClient.h
  lang/CMakeLists.txt
  lang/LangSource/SC_CLIOptions.cpp
  lang/LangSource/SC_CLIOptions.hpp
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/SC_LanguageConfig.cpp
  lang/LangSource/SC_LanguageConfig.hpp
  lang/LangSource/SC_TerminalClient.cpp
  lang/LangSource/SC_TerminalClient.h
Labels: comp: sclang, has merge note

#6153 Add `localIP`, `localEndPoint` and `localIPs` class methods to NetAddr
  HelpSource/Classes/NetAddr.schelp
  SCClassLibrary/Common/Control/NetAddr.sc
  lang/LangPrimSource/OSCData.cpp
Labels: enhancement, comp: sclang, comp: class library

#6609 Fix double invocation of unsaved documents dialog upon quitting
  editors/sc-ide/widgets/main_window.cpp
Labels: qt6, needs-testing: windows, needs-testing: linux

#6750 Help: EnvGen: Add filter modulation example (re: new init behavior)
  HelpSource/Classes/EnvGen.schelp
Labels: comp: help

#6780 GHA: update jurplel/install-qt-action to v4
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
Labels: comp: CI/CD

#6778 git: ignore clangd cache
  .gitignore
Labels: git repository

#6351 Add VS Code IDE settings
  .gitignore
  .vscode/c_cpp_properties.json
  .vscode/extensions.json
  .vscode/launch.json
Labels: comp: build, has merge note

#6782 lang: silence more UDP errors
  lang/LangPrimSource/SC_ComPort.cpp
  server/scsynth/SC_ComPort.cpp
Labels: comp: scsynth, comp: sclang, os: Windows
