Repository supercollider/supercollider, pull requests merged in 2025-06, with the labels that each got.

#6731 sclang: add helper for reallocstack and correct objectPerformArgsImpl
  lang/LangPrimSource/PyrPrimitive.cpp
Labels: comp: sclang

#6732 sclang: Use fix width integers for `long` and `long long`
  include/plugin_interface/SC_InlineBinaryOp.h
  lang/LangPrimSource/OSCData.cpp
  lang/LangPrimSource/PyrArchiverT.h
  lang/LangPrimSource/PyrBitPrim.cpp
  lang/LangPrimSource/PyrDeepCopier.h
  lang/LangPrimSource/PyrDeepFreezer.h
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrFilePrim.h
  lang/LangPrimSource/PyrMathPrim.cpp
  lang/LangPrimSource/PyrSched.cpp
  lang/LangPrimSource/PyrSignalPrim.cpp
  lang/LangPrimSource/SC_AlsaMIDI.cpp
  lang/LangPrimSource/SC_AudioDevicePrim.cpp
  lang/LangPrimSource/SC_ComPort.cpp
  lang/LangPrimSource/SC_ComPort.h
  lang/LangPrimSource/SC_FIFO.h
  lang/LangPrimSource/SC_LID.cpp
  lang/LangPrimSource/SC_PortMIDI.cpp
  lang/LangSource/Bison/lang11d_tab.cpp
  lang/LangSource/ByteCodeArray.cpp
  lang/LangSource/ByteCodeArray.h
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/InitAlloc.cpp
  lang/LangSource/MiscInlineMath.h
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrMathOps.cpp
  lang/LangSource/PyrMathSupport.cpp
  lang/LangSource/PyrMessage.cpp
  lang/LangSource/PyrMessage.h
  lang/LangSource/PyrObject.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSignal.cpp
  lang/LangSource/PyrSignal.h
  lang/LangSource/PyrSlot32.h
  lang/LangSource/PyrSlot64.h
  lang/LangSource/PyrSymbol.h
  lang/LangSource/SCBase.h
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/VMGlobals.h
  lang/LangSource/dumpByteCodes.cpp
Labels: comp: sclang, has merge note, squash on merge

#6261 Sclang: PyrGC: Fix GC segfault caused by uncollected temporary function objects by placing an upper limit on un-scanned objects.
  lang/LangSource/GC.h
  testsuite/sclang/sclang_gc_crash_1.scd
Labels: comp: sclang, dev-meeting

#6919 sclang: remove performArgs syntax
  lang/LangSource/Bison/lang11d
  lang/LangSource/Bison/lang11d_tab.cpp
Labels: comp: sclang

#6916 sclang, unittest: assert no uninlined functions in class lib.
  SCClassLibrary/Common/Collections/Dictionary.sc
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/SCDoc/SCDoc.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrParseNode.h
  testsuite/classlibrary/TestCollection.sc
  testsuite/classlibrary/TestNoUninlinedFunctions.sc
  testsuite/classlibrary/TestUGen_RTAlloc.sc
Labels: comp: sclang, comp: testing

#6536 Add that the index starts at 0 to the documentation for SequenceableCollection, Array, ArrayedCollection and List.
  HelpSource/Classes/Array.schelp
  HelpSource/Classes/ArrayedCollection.schelp
  HelpSource/Classes/List.schelp
  HelpSource/Classes/SequenceableCollection.schelp
Labels: comp: help, squash on merge

#6914 Update node tree view help / implementation
  HelpSource/Classes/NodeTreeView.schelp
  HelpSource/Classes/Server.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Control/ServerPlusGUI.sc
Labels: comp: class library, comp: help

#6393 build: install: add an AppStream metainfo file
  platform/linux/CMakeLists.txt
  platform/linux/online.supercollider.SuperCollider.metainfo.xml
  tools/release/make_release.py
Labels: os: Linux, blocked, dev-meeting

#6699 sclang: fix `mod` behavior for negative integer modulus
  HelpSource/Classes/Float.schelp
  HelpSource/Classes/Integer.schelp
  HelpSource/Classes/Number.schelp
  HelpSource/Classes/SequenceableCollection.schelp
  HelpSource/Overviews/Operators.schelp
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Core/AbstractFunction.sc
  SCClassLibrary/Common/Core/Symbol.sc
  SCClassLibrary/Common/Geometry/Point.sc
  SCClassLibrary/Common/Math/Float.sc
  SCClassLibrary/Common/Math/Integer.sc
  SCClassLibrary/Common/Math/Number.sc
  SCClassLibrary/Common/Math/Signal.sc
  include/plugin_interface/SC_InlineBinaryOp.h
  lang/LangPrimSource/PyrMathPrim.cpp
  testsuite/classlibrary/TestMod.sc
Labels: comp: sclang, comp: server plugins

#6907 UserView help: remove refreshInRect
  HelpSource/Classes/UserView.schelp
Labels: comp: help

#6939 classlib: Don't try to free a Volume synth that doesn't exist
  SCClassLibrary/Common/Control/Volume.sc
Labels: bug, comp: class library

#6564 Increase UDP socket buffer size
  lang/LangPrimSource/SC_ComPort.cpp
  lang/LangPrimSource/SC_ComPort.h
  server/scsynth/SC_ComPort.cpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
Labels: comp: scsynth, comp: sclang, squash on merge, dev-meeting

#6026 clarify documentation for randomness methods
  HelpSource/Classes/SimpleNumber.schelp
  HelpSource/Overviews/Operators.schelp
Labels: comp: help, squash on merge

#6928 Add Main.postBugReportInfo
  HelpSource/Classes/Platform.schelp
  QtCollider/primitives/prim_misc.cpp
  SCClassLibrary/Common/GUI/Base/QtGUI.sc
  SCClassLibrary/DefaultLibrary/Main.sc
  SCClassLibrary/Platform/Platform.sc
  SCClassLibrary/Platform/linux/LinuxPlatform.sc
  SCClassLibrary/Platform/osx/OSXPlatform.sc
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  testsuite/classlibrary/TestPlatform.sc
Labels: comp: class library, has merge note, squash on merge, dev-meeting

#6963 Fix typo in the 3.14 changelog
  CHANGELOG.md
  HelpSource/Guides/News-3_14.schelp
Labels: comp: project docs

#6968 Improve layout and structure of help.schelp
  HelpSource/Help.schelp
Labels: comp: help

#6970 QtCollider: fix Q_INVOKABLE SharedImage typename
  QtCollider/image.h
  QtCollider/widgets/BasicWidgets.cpp
  QtCollider/widgets/BasicWidgets.h
  QtCollider/widgets/QcButton.h
  QtCollider/widgets/QcCanvas.cpp
  QtCollider/widgets/QcCanvas.h
  QtCollider/widgets/QcMenu.h
  QtCollider/widgets/QcSlider2D.cpp
  QtCollider/widgets/QcSlider2D.h
Labels: comp: Qt GUI, qt6

#6986 move examples folder to Platform.resourceDir on macOS
  editors/sc-ide/CMakeLists.txt
Labels: comp: build

#6977 classlib: kwargs for Pbindef and PbindProxy
  HelpSource/Classes/PbindProxy.schelp
  HelpSource/Classes/Pbindef.schelp
  SCClassLibrary/JITLib/Patterns/Pdef.sc
Labels: comp: class library

#6975 fix changed doc
  HelpSource/Guides/News-3_14.schelp
Labels: comp: help, comp: project docs

#6988 Remove some use of SCWindow and SCButton from the documentation code
  HelpSource/Classes/Document.schelp
  HelpSource/Classes/Platform.schelp
  HelpSource/Classes/Routine.schelp
  HelpSource/Guides/Internal-Snooping.schelp
Labels: comp: help, has merge note, squash on merge

#6948 NodePlotView: fix a bug & add scroll to view parent
  SCClassLibrary/Common/GUI/PlusGUI/Control/NodeTreeView.sc
Labels: comp: Qt GUI, comp: class library, squash on merge

#6989 UDP: set max buffer size to 4MB and fallback to 1MB
  lang/LangPrimSource/SC_ComPort.cpp
  lang/LangPrimSource/SC_ComPort.h
  server/scsynth/SC_ComPort.cpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
Labels: comp: scsynth, comp: sclang, comp: supernova, squash on merge

#6796 Unify the warning message: ('|server) not running.
  SCClassLibrary/Common/Audio/Env.sc
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/Control/ServerStatus.sc
  SCClassLibrary/Common/Control/asDefName.sc
  SCClassLibrary/Common/Files/SoundFile.sc
  SCClassLibrary/Common/GUI/PlusGUI/Control/scopeResponse.sc
  SCClassLibrary/Common/GUI/PlusGUI/Control/server-scope.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
  SCClassLibrary/Common/GUI/tools/Stethoscope.sc
  SCClassLibrary/JITLib/ProxySpace/BusPlug.sc
  SCClassLibrary/JITLib/ProxySpace/NodeProxy.sc
Labels: comp: class library, has merge note, squash on merge

#6973 Fix example for bend Pbind
  HelpSource/Overviews/MidiPatterns.schelp
Labels: comp: help

#6996 Let's consider macOS universal build... again
  .github/workflows/build_macos.yml
  .github/workflows/test_macos.yml
  cmake_modules/FindReadline.cmake
  tools/vcpkg_combine_libs.sh
Labels: comp: build, comp: CI/CD, has merge note

#7015 GHA: separate uninstall hombrew packages
  .github/workflows/build_macos.yml
Labels: comp: CI/CD
