Repository supercollider/supercollider, pull requests merged in 2025-03, with the labels that each got.

#6369 Update UsingQuarks.schelp
  HelpSource/Guides/UsingQuarks.schelp
Labels: comp: help

#6652 scsynth tcp: fixes uninitialized ReplyAddress (issue #6647)
  server/scsynth/SC_ComPort.cpp
Labels: comp: scsynth

#6660 Use aqt for macOS x64 in CI and switch macOS system lib build to arm
  .github/workflows/build_macos.yml
Labels: os: macOS, comp: CI/CD, qt6

#6668 Update changelog and SCVersion for 3.13.1
  CHANGELOG.md
  SCVersion.txt
Labels: organizational

#6566 classlib: more tolerant plot
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library

#6302 SCLang: Too many args passed to certain 'inlined' methods
  lang/LangSource/PyrInterpreter3.cpp
  testsuite/classlibrary/TestCorrectArgCount.sc
Labels: comp: sclang

#6398 SCLang: add keywords to newCopyArgs as constructors are messy with many instance variables
  HelpSource/Classes/Object.schelp
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/Common/Core/Object.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/PyrParseNode.cpp
  testsuite/classlibrary/TestConstructor.sc
Labels: comp: sclang, comp: class library

#6568 SCLang: implement superPerformArgs fixing inf. loop
  SCClassLibrary/Common/Collections/Dictionary.sc
  SCClassLibrary/Common/Collections/Scale.sc
  SCClassLibrary/Common/Core/Object.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  testsuite/classlibrary/TestPerformArgs.sc
Labels: comp: sclang

#6685 Add BufferExamplesPath class
  HelpSource/Classes/Buffer.schelp
  HelpSource/Classes/BufferExamplesPath.schelp
  SCClassLibrary/Common/Files/BufferExamplesPath.sc
  testsuite/classlibrary/TestBufferExamplesPath.sc
Labels: comp: class library, comp: help

#6688 class library: fix regression from "more tolerant plot"
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Labels: comp: class library

#6693 TestUGen_RTAlloc: don't set samplerate or blocksize
  testsuite/classlibrary/TestUGen_RTAlloc.sc
Labels: comp: testing
