Repository supercollider/supercollider, pull requests merged in 2025-05, with the labels that each got.

#6768 classlib: ContiguousBlockAllocator: Fix 'reserve' bug when addrOffset > 0
  HelpSource/Classes/ContiguousBlock.schelp
  SCClassLibrary/Common/Control/Engine.sc
  testsuite/classlibrary/TestContiguousBlockAllocator.sc
Labels: bug, comp: class library

#6141 Topic/more words to help home
  HelpSource/Help.schelp
Labels: comp: help, has merge note

#6758 scsynth/supernova: refactor SC_ServerBootDelayWarning
  common/SC_ServerBootDelayWarning.cpp
  common/SC_ServerBootDelayWarning.h
  server/scsynth/scsynth_main.cpp
  server/supernova/server/main.cpp
Labels: comp: scsynth, comp: supernova

#6801 Further `README_LINUX.md` improvements
  README_LINUX.md
Labels: os: Linux, comp: project docs, has merge note

#6809 Do not display setting menu icons on macOS
  editors/sc-ide/widgets/settings/dialog.cpp
Labels: bug, os: macOS, env: SCIDE, has merge note

#6751 removed beaglebone platform
  README.md
  README_BEAGLEBONE_BLACK.md
  README_LINUX.md
Labels: comp: project docs

#6819 Replace beagle with bela in start help file
  HelpSource/Help.schelp
Labels: comp: help

#6817 IDE: fix sclang config file dialog behavior
  editors/sc-ide/widgets/settings/editor_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.cpp
Labels: env: SCIDE, qt6, squash on merge

#6253 Help: Correct error in Linux env vars discussion
  HelpSource/Reference/AudioDeviceSelection.schelp
Labels: comp: help

#6825 Testsuite: LinkClock: Avoid Event errors in newFromTempoClock test
  testsuite/classlibrary/TestLinkClock.sc
Labels: bug, comp: testing

#6283 Add position arg to .meter to set s.meter position (width and height are automatically calculated)
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/ServerMeter.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Control/server-meter.sc
  SCClassLibrary/Common/GUI/tools/ServerMeter.sc
Labels: comp: class library

#6294 add 'bounds' arg to `.plotTree`; make `.plotTree` a single instance window; add `ServerTreeView` class
  HelpSource/Classes/Rect.schelp
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/ServerTreeView.schelp
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/GUI/PlusGUI/Control/ServerPlusGUI.sc
  SCClassLibrary/Common/GUI/PlusGUI/Control/ServerTreeView.sc
  SCClassLibrary/Common/Geometry/Rect.sc
Labels: comp: class library

#6808 Minor improvements for monokai theme
  HelpSource/themes/monokai.css
  editors/sc-ide/core/settings/default_themes.cpp
Labels: bug, env: SCIDE

#6818 Add dialog to restart interpreter after switching config file
  editors/sc-ide/widgets/settings/sclang_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.hpp
Labels: env: SCIDE

#6781 CMake: update ccache integration
  .github/workflows/build_macos.yml
  CMakeLists.txt
  README_LINUX.md
  README_MACOS.md
  cmake_modules/launch-c.in
  cmake_modules/launch-cxx.in
Labels: comp: build

#6409 ClassLib: fix Set.remove not returning the item
  SCClassLibrary/Common/Collections/Array2D.sc
  SCClassLibrary/Common/Collections/Bag.sc
  SCClassLibrary/Common/Collections/Interval.sc
  SCClassLibrary/Common/Collections/LinkedList.sc
  SCClassLibrary/Common/Collections/ObjectTable.sc
  SCClassLibrary/Common/Collections/Pair.sc
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Collections/Set.sc
  testsuite/classlibrary/TestCollection.sc
Labels: comp: class library, API change

#6158 Topic/help browser more navigation
  HelpSource/Classes/HelpBrowser.schelp
  HelpSource/scdoc.js
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Labels: comp: SCDoc, squash on merge

#6627 Fix SCDocs assets caching
  HelpSource/BrokenLink.html
  HelpSource/Browse.html
  HelpSource/Classes/SCDoc.schelp
  HelpSource/OldHelpWrapper.html
  HelpSource/Overviews/Classes.html
  HelpSource/Overviews/Documents.html
  HelpSource/Overviews/Methods.html
  HelpSource/Search.html
  HelpSource/static/browse.css
  HelpSource/static/browse.js
  HelpSource/static/codemirror.css
  HelpSource/static/editor.css
  HelpSource/static/editor.js
  HelpSource/static/lib/codemirror-5.39.2.min.js
  HelpSource/static/lib/codemirror-addon-simple-5.39.2.min.js
  HelpSource/static/lib/jquery.min.js
  HelpSource/static/lib/katex/README.md
  HelpSource/static/lib/katex/fonts/KaTeX_AMS-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Caligraphic-Bold.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Caligraphic-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Fraktur-Bold.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Fraktur-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Main-Bold.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Main-BoldItalic.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Main-Italic.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Main-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Math-BoldItalic.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Math-Italic.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_SansSerif-Bold.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_SansSerif-Italic.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_SansSerif-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Script-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Size1-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Size2-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Size3-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Size4-Regular.woff2
  HelpSource/static/lib/katex/fonts/KaTeX_Typewriter-Regular.woff2
  HelpSource/static/lib/katex/katex.min.css
  HelpSource/static/lib/katex/katex.min.js
  HelpSource/static/scdoc.css
  HelpSource/static/scdoc.js
  HelpSource/static/search.js
  HelpSource/static/themes/README.md
  HelpSource/static/themes/classic.css
  HelpSource/static/themes/dark.css
  HelpSource/static/themes/default.css
  HelpSource/static/themes/dracula.css
  HelpSource/static/themes/monokai.css
  HelpSource/static/themes/solarizedDark.css
  HelpSource/static/themes/solarizedLight.css
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Labels: bug, comp: class library, comp: help, has merge note

#6836 Add note about '+/+' and url address
  HelpSource/Classes/String.schelp
Labels: comp: help

#6832 plugins: TDelay: fix initialization sample
  server/plugins/TriggerUGens.cpp
Labels: comp: server plugins

#6848 testsuite: TestServer_clientID_booted: fix cleanup
  testsuite/classlibrary/TestServer_clientID_booted.sc
Labels: comp: testing

#6804 Splay level comp flexify
  HelpSource/Classes/LevelComp.schelp
  HelpSource/Classes/Splay.schelp
  HelpSource/Classes/SplayAz.schelp
  HelpSource/Guides/Level_Compensation.schelp
  SCClassLibrary/Common/Audio/Splay.sc
Labels: comp: class library

#6847 Add `scroll-margin-top` to fix scrolling to anchor
  HelpSource/static/scdoc.css
Labels: bug, comp: SCDoc, has merge note, squash on merge

#6850 GHA: use --include-path in the testsuite
  .github/workflows/test_linux.yml
  .github/workflows/test_macos.yml
Labels: comp: CI/CD

#6851 Date: Windows notes and testsuite fix
  HelpSource/Classes/Date.schelp
  testsuite/classlibrary/TestDate.sc
Labels: comp: help, comp: testing

#6837 Fix SequenceableCollection -unixCmd on Windows
  common/sc_popen.cpp
  common/sc_popen.h
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrUnixPrim.cpp
Labels: comp: sclang, os: Windows

#6838 Make status bar themed
  editors/sc-ide/widgets/audio_status_box.cpp
  editors/sc-ide/widgets/audio_status_box.hpp
  editors/sc-ide/widgets/lang_status_box.cpp
  editors/sc-ide/widgets/lang_status_box.hpp
Labels: env: SCIDE, squash on merge

#6787 doc: add undefined overflow notes to affected Number, RawArray classes
  HelpSource/Classes/DoubleArray.schelp
  HelpSource/Classes/Float.schelp
  HelpSource/Classes/FloatArray.schelp
  HelpSource/Classes/Int16Array.schelp
  HelpSource/Classes/Int32Array.schelp
  HelpSource/Classes/Int8Array.schelp
  HelpSource/Classes/Integer.schelp
Labels: comp: help

#6868 Fix classtree image path
  HelpSource/static/scdoc.css
Labels: comp: SCDoc

#6866 Fix docmap link for classes overview
  HelpSource/Overviews/Classes.html
Labels: comp: SCDoc

#6810 plugins: TriggerUGens standardize init sample
  server/plugins/TriggerUGens.cpp
Labels: comp: server plugins

#6873 Disable redrawing lang status box on theme change
  editors/sc-ide/widgets/lang_status_box.cpp
Labels: bug, env: SCIDE, needs-testing: windows

#6643 Remove <p> after every `\prose` and modify line-spacing using `margin` in scdoc.css
  HelpSource/static/scdoc.css
Labels: comp: help

#6877 Float.schelp: add missing `code` tag.
  HelpSource/Classes/Float.schelp
Labels: comp: help

#6816 plugins: TriggerUGens: fix initialization sample
  server/plugins/TriggerUGens.cpp
Labels: comp: server plugins

#6878 scide: redraw status bar on applySettings
  editors/sc-ide/widgets/lang_status_box.cpp
Labels: env: SCIDE

#6871 Prevent {}.scope from Posting Width Change Messages
  SCClassLibrary/Common/GUI/PlusGUI/Control/server-scope.sc
Labels: comp: class library, squash on merge

#6865 scdoc renderer: use forward slash on Windows
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Labels: comp: SCDoc, os: Windows, dev-meeting

#6827 IDE<->sclang Document fixes
  SCClassLibrary/scide_scqt/ScIDE.sc
  editors/sc-ide/core/doc_manager.cpp
  editors/sc-ide/widgets/multi_editor.cpp
Labels: os: Windows, env: SCIDE, comp: class library, dev-meeting

#6762 scide: HelpBrowser fix ambiguous shortcuts
  QtCollider/widgets/QcWebView.cpp
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Labels: env: SCIDE, needs-testing: windows, dev-meeting

#6835 Convert emacs and vim to an opt-in build flag on linux
  README_LINUX.md
  editors/CMakeLists.txt
Labels: os: Linux, comp: build, dev-meeting

#6880 Correct openOS behaviour on Windows
  SCClassLibrary/Common/Collections/windows/extString_windows.sc
Labels: os: Windows, comp: class library

#6870 Copy icons in schelp examples
  HelpSource/static/scdoc.css
  HelpSource/static/scdoc.js
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
  editors/sc-ide/widgets/help_browser.cpp
Labels: comp: SCDoc, has merge note, squash on merge

#6867 SCLang, UnitTests: standardise nan & inf printing across platforms
  lang/LangSource/DumpParseNode.cpp
  testsuite/classlibrary/TestFloat.sc
Labels: comp: sclang

#6717 CoreAudio: try setting sample rate of output device when input and output sample rates are mismatched
  server/scsynth/SC_CoreAudio.cpp
Labels: comp: scsynth, os: macOS, dev-meeting

#6854 Add line number switch to SCDoc theme settings
  HelpSource/static/codemirror.css
  HelpSource/static/editor.js
  HelpSource/static/scdoc.js
Labels: comp: SCDoc, has merge note, squash on merge

#6896 CI: run ctests with linux build
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
Labels: comp: CI/CD, has merge note, squash on merge

#6833 plugins: Phasor: fix init sample: don't ignore trig on first sample
  HelpSource/Classes/Phasor.schelp
  server/plugins/TriggerUGens.cpp
Labels: comp: server plugins, has release note, squash on merge

#6834 ServerTreeView: fix "group rect issue" and "node visibility issue" of #6294, fix "Rect collision issue with too many nodes"
  HelpSource/Classes/Server.schelp
  HelpSource/Classes/ServerTreeView.schelp
  SCClassLibrary/Common/Control/Server.sc
  SCClassLibrary/Common/GUI/PlusGUI/Control/ServerPlusGUI.sc
  SCClassLibrary/Common/GUI/PlusGUI/Control/ServerTreeView.sc
Labels: comp: class library, squash on merge
