Repository supercollider/supercollider, pull requests merged in 2025-08, with the labels that each got.

#7096 help docs:Formlet exples 4 and 5 fixed
  HelpSource/Classes/Formlet.schelp
Labels: comp: help

#7109 SCLang: add caching to `GetBackTrace`
  lang/LangPrimSource/PyrPrimitive.cpp
Labels: comp: sclang

#7107 vDSP: support multiple threads
  README_MACOS.md
  common/SC_fftlib.cpp
  editors/sc-ide/CMakeLists.txt
  include/common/SC_fftlib.h
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
  server/supernova/audio_backend/sndfile_backend.hpp
  server/supernova/server/server.cpp
Labels: os: macOS, comp: supernova, comp: 3rd party
